<form [formGroup]="form" autocomplete="off">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
    <div class="md:col-span-5">
      <mat-form-field class="w-full">
        <mat-label>KFZ</mat-label>
        <mat-select testid="carInput" formControlName="car" [compareWith]="compareCar">
          @for (car of carList().cars; track car.id) {
            <mat-option [value]="car" [attr.testid]="'carInput-option-' + car.id">
              {{ car.licensePlate }} ({{ car.name }})
            </mat-option>
          }
        </mat-select>
        <mat-icon matPrefix svgIcon="local_shipping"
                  class="!flex !items-center !justify-center !leading-none !w-5 !h-5 !p-1.5 text-slate-500"></mat-icon>
        @if (car.errors?.required && car.touched) {
          <mat-error>Pflichtfeld</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-12 gap-6 mt-4">
    <div class="md:col-span-5">
      <div class="font-medium">Fahrer</div>
      @if (!selectedDriver()) {
        <div class="flex gap-2">
          <mat-form-field class="w-full">
            <input matInput testid="driverSearchInput" type="text" formControlName="driverSearchInput" aria-label="Fahrer"
                   placeholder="Personalnummer / Name" (keyup.enter)="triggerSearchDriver()">
            @if (driverSearchInput.errors?.required && driverSearchInput.touched) {
              <mat-error>Pflichtfeld</mat-error>
            }
            @if (driverSearchInput.errors?.maxlength && driverSearchInput.touched) {
              <mat-error>
                Fahrer zu lang (Limit: {{ driverSearchInput.errors?.maxlength.requiredLength }})
              </mat-error>
            }
            @if (driverSearchInput.errors?.hasValue && driverSearchInput.touched) {
              <mat-error>{{ driverSearchInput.errors?.hasValue.message }}</mat-error>
            }
          </mat-form-field>
          <tafel-employee-search-create #driverEmployeeSearchCreate [testIdPrefix]="'driver'"
                                        [searchInput]="driverSearchInput.value ?? ''"
                                        (selectedEmployee)="setSelectedDriver($event)"/>
        </div>
      } @else {
        <div class="flex items-center justify-between gap-2">
          <div testid="selectedDriverDescription">{{ selectedDriver()!.personnelNumber }} {{ selectedDriver()!.firstname }} {{ selectedDriver()!.lastname }}</div>
          <button type="button" matButton="filled" testid="selectedDriverRemoveButton" class="button-danger" aria-label="Fahrer entfernen"
                  (click)="resetDriver()">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        </div>
      }
    </div>
    <div class="md:col-span-5 mt-4 md:mt-0">
      <div class="font-medium">Beifahrer</div>
      @if (!selectedCoDriver()) {
        <div class="flex gap-2">
          <mat-form-field class="w-full">
            <input matInput testid="coDriverSearchInput" type="text" formControlName="coDriverSearchInput" aria-label="Beifahrer"
                   placeholder="Personalnummer / Name" (keyup.enter)="triggerSearchCoDriver()">
            @if (coDriverSearchInput.errors?.required && coDriverSearchInput.touched) {
              <mat-error>Pflichtfeld</mat-error>
            }
            @if (coDriverSearchInput.errors?.maxlength && coDriverSearchInput.touched) {
              <mat-error>
                Beifahrer zu lang (Limit: {{ coDriverSearchInput.errors?.maxlength.requiredLength }})
              </mat-error>
            }
            @if (coDriverSearchInput.errors?.hasValue && coDriverSearchInput.touched) {
              <mat-error>{{ coDriverSearchInput.errors?.hasValue.message }}</mat-error>
            }
          </mat-form-field>
          <tafel-employee-search-create #coDriverEmployeeSearchCreate [testIdPrefix]="'codriver'"
                                        [searchInput]="coDriverSearchInput.value ?? ''"
                                        (selectedEmployee)="setSelectedCoDriver($event)"/>
        </div>
      } @else {
        <div class="flex items-center justify-between gap-2">
          <div testid="selectedCoDriverDescription">{{ selectedCoDriver()!.personnelNumber }} {{ selectedCoDriver()!.firstname }} {{ selectedCoDriver()!.lastname }}</div>
          <button type="button" matButton="filled" testid="selectedCoDriverRemoveButton" class="button-danger" aria-label="Beifahrer entfernen"
                  (click)="resetCoDriver()">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        </div>
      }
    </div>
  </div>
</form>
