<form [formGroup]="form" autocomplete="off">
  <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
    <div class="md:col-span-5">
      <label class="form-label">KFZ *</label>
      <div class="flex items-center gap-2">
        <select testid="carInput" class="form-control" formControlName="car">
          @for (car of carList().cars; track car.id) {
            <option [ngValue]="car">
              {{ car.licensePlate }} ({{ car.name }})
            </option>
          }
        </select>
        <fa-icon [icon]="faTruck"></fa-icon>
      </div>
      @if (car.errors?.required && car.touched) {
        <div class="invalid-feedback">
          Pflichtfeld
        </div>
      }
    </div>
    <div class="md:col-span-3 mt-4 md:mt-0">
      <label class="form-label">KM Start *</label>
      <div class="flex items-center gap-2">
        <input testid="kmStartInput" type="number" formControlName="kmStart" class="form-control"
               [ngClass]="{'is-invalid': kmStart.invalid && kmStart.touched, 'is-valid': kmStart.valid && (kmStart.dirty || kmStart.touched)}">
        <fa-icon [icon]="faGauge"></fa-icon>
      </div>
      @if (kmStart.errors?.required && kmStart.touched) {
        <div class="invalid-feedback">
          Pflichtfeld
        </div>
      }
      @if (kmStart.errors?.min && kmStart.touched) {
        <div class="invalid-feedback">
          Muss mindestens 1 sein
        </div>
      }
    </div>
    <div class="md:col-span-3 mt-4 md:mt-0">
      <label class="form-label">KM Ende *</label>
      <div class="flex items-center gap-2">
        <input testid="kmEndInput" type="number" formControlName="kmEnd" class="form-control"
               [ngClass]="{'is-invalid': kmEnd.invalid && kmEnd.touched, 'is-valid': kmEnd.valid && (kmEnd.dirty || kmEnd.touched)}">
        <fa-icon [icon]="faGauge"></fa-icon>
      </div>
      @if (kmEnd.errors?.required && kmEnd.touched) {
        <div class="invalid-feedback">
          Pflichtfeld
        </div>
      }
      @if (kmEnd.errors?.min && kmEnd.touched) {
        <div class="invalid-feedback">
          Muss mindestens 1 sein
        </div>
      }
      @if (kmEnd.errors?.kmValidation && kmEnd.touched) {
        <div class="invalid-feedback">
          KM Ende muss größer als KM Start sein
        </div>
      }
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-12 gap-6 mt-4">
    <div class="md:col-span-5">
      @if (!selectedDriver()) {
        <label class="form-label">Fahrer *</label>
        <div class="flex items-center gap-2">
          <input testid="driverSearchInput" type="text" formControlName="driverSearchInput" class="form-control"
                 placeholder="Personalnummer / Name" (keyup.enter)="triggerSearchDriver()"
                 [ngClass]="{'is-invalid': driverSearchInput.invalid && driverSearchInput.touched, 'is-valid': driverSearchInput.valid && (driverSearchInput.dirty || driverSearchInput.touched)}">
          <tafel-employee-search-create #driverEmployeeSearchCreate [testIdPrefix]="'driver'"
                                        [searchInput]="driverSearchInput.value ?? ''"
                                        (selectedEmployee)="setSelectedDriver($event)"/>
        </div>
        @if (driverSearchInput.errors?.required && driverSearchInput.touched) {
          <div class="invalid-feedback">
            Pflichtfeld
          </div>
        }
        @if (driverSearchInput.errors?.maxlength && driverSearchInput.touched) {
          <div class="invalid-feedback">
            Fahrer zu lang (Limit: {{ driverSearchInput.errors?.maxlength.requiredLength }})
          </div>
        }
        @if (driverSearchInput.errors?.hasValue && driverSearchInput.touched) {
          <div class="invalid-feedback">
            {{ driverSearchInput.errors?.hasValue.message }}
          </div>
        }
      } @else {
        <label class="form-label">Fahrer *</label>
        <div class="flex items-center justify-between gap-2">
          <div testid="selectedDriverDescription">{{ selectedDriver()!.personnelNumber }} {{ selectedDriver()!.firstname }} {{ selectedDriver()!.lastname }}</div>
          <button type="button" matButton="filled" testid="selectedDriverRemoveButton" class="button-danger"
                  (click)="resetDriver()">
            <fa-icon [icon]="faRemove"></fa-icon>
          </button>
        </div>
      }
    </div>
    <div class="md:col-span-5 mt-4 md:mt-0">
      @if (!selectedCoDriver()) {
        <label class="form-label">Beifahrer *</label>
        <div class="flex items-center gap-2">
          <input testid="coDriverSearchInput" type="text" formControlName="coDriverSearchInput" class="form-control"
                 placeholder="Personalnummer / Name" (keyup.enter)="triggerSearchCoDriver()"
                 [ngClass]="{'is-invalid': coDriverSearchInput.invalid && coDriverSearchInput.touched, 'is-valid': coDriverSearchInput.valid && (coDriverSearchInput.dirty || coDriverSearchInput.touched)}">
          <tafel-employee-search-create #coDriverEmployeeSearchCreate [testIdPrefix]="'codriver'"
                                        [searchInput]="coDriverSearchInput.value ?? ''"
                                        (selectedEmployee)="setSelectedCoDriver($event)"/>
        </div>
        @if (coDriverSearchInput.errors?.required && coDriverSearchInput.touched) {
          <div class="invalid-feedback">
            Pflichtfeld
          </div>
        }
        @if (coDriverSearchInput.errors?.maxlength && coDriverSearchInput.touched) {
          <div class="invalid-feedback">
            Beifahrer zu lang (Limit: {{ coDriverSearchInput.errors?.maxlength.requiredLength }})
          </div>
        }
        @if (coDriverSearchInput.errors?.hasValue && coDriverSearchInput.touched) {
          <div class="invalid-feedback">
            {{ coDriverSearchInput.errors?.hasValue.message }}
          </div>
        }
      } @else {
        <label class="form-label">Beifahrer *</label>
        <div class="flex items-center justify-between gap-2">
          <div testid="selectedCoDriverDescription">{{ selectedCoDriver()!.personnelNumber }} {{ selectedCoDriver()!.firstname }} {{ selectedCoDriver()!.lastname }}</div>
          <button type="button" matButton="filled" testid="selectedCoDriverRemoveButton" class="button-danger"
                  (click)="resetCoDriver()">
            <fa-icon [icon]="faRemove"></fa-icon>
          </button>
        </div>
      }
    </div>
  </div>
</form>
<hr>
<button testid="save-routedata-button" matButton="filled" [disabled]="isSaveDisabled()" (click)="save()">Speichern</button>
