<c-row>
  <c-col>
    <form [formGroup]="form">
      <c-row>
        <c-col md="5">
          <label class="form-label">KFZ *</label>
          <c-input-group>
            <select testid="carInput" class="form-control" formControlName="car" cSelect>
              @for (car of carList().cars; track car.id) {
                <option [ngValue]="car">
                  {{ car.licensePlate }} ({{ car.name }})
                </option>
              }
            </select>
            <span cInputGroupText>
              <fa-icon [icon]="faTruck"></fa-icon>
            </span>
            @if (car.errors?.required && (car.dirty || car.touched)) {
              <div class="invalid-feedback">
                Pflichtfeld
              </div>
            }
          </c-input-group>
        </c-col>
        <c-col md="3" class="mt-3 mt-md-0">
          <label class="form-label">KM Start *</label>
          <c-input-group>
            <input testid="kmStartInput" type="number" formControlName="kmStart" class="form-control"
                   [ngClass]="{'is-invalid': kmStart.invalid && (kmStart.dirty || kmStart.touched), 'is-valid': kmStart.valid && (kmStart.dirty || kmStart.touched)}">
            <span cInputGroupText>
              <fa-icon [icon]="faGauge"></fa-icon>
            </span>
            @if (kmStart.errors?.required && (kmStart.dirty || kmStart.touched)) {
              <div class="invalid-feedback">
                Pflichtfeld
              </div>
            }
            @if (kmStart.errors?.min && (kmStart.dirty || kmStart.touched)) {
              <div class="invalid-feedback">
                Muss mindestens 1 sein
              </div>
            }
          </c-input-group>
        </c-col>
        <c-col md="3" class="mt-3 mt-md-0">
          <label class="form-label">KM Ende *</label>
          <c-input-group>
            <input testid="kmEndInput" type="number" formControlName="kmEnd" class="form-control"
                   [ngClass]="{'is-invalid': kmEnd.invalid && (kmEnd.dirty || kmEnd.touched), 'is-valid': kmEnd.valid && (kmEnd.dirty || kmEnd.touched)}">
            <span cInputGroupText>
              <fa-icon [icon]="faGauge"></fa-icon>
            </span>
            @if (kmEnd.errors?.required && (kmEnd.dirty || kmEnd.touched)) {
              <div class="invalid-feedback">
                Pflichtfeld
              </div>
            }
            @if (kmEnd.errors?.min && (kmEnd.dirty || kmEnd.touched)) {
              <div class="invalid-feedback">
                Muss mindestens 1 sein
              </div>
            }
            @if (kmEnd.errors?.kmValidation && (kmEnd.dirty || kmEnd.touched)) {
              <div class="invalid-feedback">
                KM Ende muss größer als KM Start sein
              </div>
            }
          </c-input-group>
        </c-col>
      </c-row>
      <c-row class="mt-3">
        <c-col class="col-12 col-md-5">
          @if (!selectedDriver) {
            <label class="form-label">Fahrer *</label>
            <c-input-group>
              <input testid="driverSearchInput" type="text" formControlName="driverSearchInput" class="form-control"
                     placeholder="Personalnummer / Name" (keyup.enter)="triggerSearchDriver()"
                     [ngClass]="{'is-invalid': driverSearchInput.invalid && (driverSearchInput.dirty || driverSearchInput.touched), 'is-valid': driverSearchInput.valid && (driverSearchInput.dirty || driverSearchInput.touched)}">
              <tafel-employee-search-create #driverEmployeeSearchCreate [testIdPrefix]="'driver'"
                                            [searchInput]="driverSearchInput.value"
                                            (selectedEmployee)="setSelectedDriver($event)"/>
              @if (driverSearchInput.errors?.required && (driverSearchInput.dirty || driverSearchInput.touched)) {
                <div class="invalid-feedback">
                  Pflichtfeld
                </div>
              }
              @if (driverSearchInput.errors?.maxlength && (driverSearchInput.dirty || driverSearchInput.touched)) {
                <div class="invalid-feedback">
                  Fahrer zu lang (Limit: {{ driverSearchInput.errors.maxlength.requiredLength }})
                </div>
              }
              @if (driverSearchInput.errors?.hasValue && (driverSearchInput.dirty || driverSearchInput.touched)) {
                <div class="invalid-feedback">
                  {{ driverSearchInput.errors.hasValue.message }}
                </div>
              }
            </c-input-group>
          } @else {
            <label class="form-label">Fahrer *</label>
            <c-row>
              <c-col testid="selectedDriverDescription" class="col-10">{{ selectedDriver.personnelNumber }} {{ selectedDriver.firstname }} {{ selectedDriver.lastname }}</c-col>
              <c-col class="col-2">
                <button cButton testid="selectedDriverRemoveButton" class="float-end" color="danger"
                        (click)="resetDriver()">
                  <fa-icon [icon]="faRemove"></fa-icon>
                </button>
              </c-col>
            </c-row>
          }
        </c-col>
        <c-col class="col-12 col-md-5 mt-3 mt-md-0">
          @if (!selectedCoDriver) {
            <label class="form-label">Beifahrer *</label>
            <c-input-group>
              <input testid="coDriverSearchInput" type="text" formControlName="coDriverSearchInput" class="form-control"
                     placeholder="Personalnummer / Name" (keyup.enter)="triggerSearchCoDriver()"
                     [ngClass]="{'is-invalid': coDriverSearchInput.invalid && (coDriverSearchInput.dirty || coDriverSearchInput.touched), 'is-valid': coDriverSearchInput.valid && (coDriverSearchInput.dirty || coDriverSearchInput.touched)}">
              <tafel-employee-search-create #coDriverEmployeeSearchCreate [testIdPrefix]="'codriver'"
                                            [searchInput]="coDriverSearchInput.value"
                                            (selectedEmployee)="setSelectedCoDriver($event)"/>
              @if (coDriverSearchInput.errors?.required && (coDriverSearchInput.dirty || coDriverSearchInput.touched)) {
                <div class="invalid-feedback">
                  Pflichtfeld
                </div>
              }
              @if (coDriverSearchInput.errors?.maxlength && (coDriverSearchInput.dirty || coDriverSearchInput.touched)) {
                <div class="invalid-feedback">
                  Beifahrer zu lang (Limit: {{ coDriverSearchInput.errors.maxlength.requiredLength }})
                </div>
              }
              @if (coDriverSearchInput.errors?.hasValue && (coDriverSearchInput.dirty || coDriverSearchInput.touched)) {
                <div class="invalid-feedback">
                  {{ coDriverSearchInput.errors.hasValue.message }}
                </div>
              }
            </c-input-group>
          } @else {
            <label class="form-label">Beifahrer *</label>
            <c-row>
              <c-col testid="selectedCoDriverDescription" class="col-10">{{ selectedCoDriver.personnelNumber }} {{ selectedCoDriver.firstname }} {{ selectedCoDriver.lastname }}</c-col>
              <c-col class="col-2">
                <button cButton testid="selectedCoDriverRemoveButton" class="float-end" color="danger"
                        (click)="resetCoDriver()">
                  <fa-icon [icon]="faRemove"></fa-icon>
                </button>
              </c-col>
            </c-row>
          }
        </c-col>
      </c-row>
    </form>
  </c-col>
</c-row>
<c-row>
  <c-col>
    <hr>
  </c-col>
</c-row>
<c-row>
  <c-col>
    <button testid="save-routedata-button" cButton [disabled]="isSaveDisabled()" (click)="save()">Speichern</button>
  </c-col>
</c-row>
<c-modal id="kmDiffModal" #kmDiffModal testid="km-diff-modal" [(visible)]="showKmDiffModal">
  <c-modal-header cBgColor="warning" testid="header">
    <h4 testid="title" class="text-white">
      Routenlänge überschritten
    </h4>
    <button [cModalToggle]="kmDiffModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="row">
      <div class="col-12">Die Routenlänge beträgt: {{ kmDifference | number }} km (> 350 km).</div>
      <div class="col-12 mt-3">Ist das korrekt?</div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button testid="ok-button" cButton (click)="showKmDiffModal = false; save(true);">OK</button>
    <button testid="cancel-button" cButton color="secondary" (click)="showKmDiffModal = false">Abbrechen</button>
  </c-modal-footer>
</c-modal>
