<div class="card text-white"
     [ngClass]="{'bg-success': distribution, 'bg-danger': !distribution}">
  <div class="card-body pb-0">
    <div>Status</div>
    <div class="text-value font-weight-bold">
      <div class="row">
        <div class="col">Ausgabe</div>
        <div class="col" testid="distribtion-state-text">{{distribution ? 'AKTIV' : 'INAKTIV'}}</div>
      </div>
    </div>
  </div>
  <div class="m-3">
    <button *ngIf="!distribution" type="button"
            testid="distribution-start-button"
            class="btn btn-block text-white btn-info"
            (click)="createNewDistribution()">Starten
    </button>
    <button *ngIf="distribution" type="button"
            testid="distribution-stop-button"
            class="btn btn-block text-white btn-info"
            (click)="stopDistributionModal.show()">Beenden
    </button>
  </div>
</div>
<div testid="stopdistribution-modal" bsModal #stopDistributionModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="stopDistributionModalLabel" aria-hidden="true">
  <div testid="stopDistribution-modal-dialog" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 testid="title" class="modal-title">
          Ausgabe beenden?
        </h4>
        <button type="button" class="close" (click)="stopDistributionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-6 m-3">
            <button testid="ok-button" type="button" class="btn btn-primary mr-2"
                    testid="distribution-stop-modal-ok-button"
                    (click)="stopDistribution()">OK
            </button>
            <button testid="cancel-button" type="button" class="btn btn-secondary"
                    testid="distribution-stop-modal-cancel-button"
                    (click)="stopDistributionModal.hide()">Abbrechen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
