<tafel-dialog type="info" title="Neue Notiz hinzufügen">
  <div tafel-dialog-content>
    <mat-form-field class="w-full">
      <mat-label>Notiz</mat-label>
      <textarea matInput rows="9"
                [ngModel]="noteText()" (ngModelChange)="noteText.set($event)"></textarea>
    </mat-form-field>
  </div>
  <div tafel-dialog-actions>
    <button testid="okButton" matButton="filled" (click)="dialogRef.close(noteText())"
            [disabled]="!noteText() || noteText()?.trim()?.length === 0">Speichern</button>
    <button testid="cancelButton" matButton (click)="dialogRef.close()">Abbrechen</button>
  </div>
</tafel-dialog>
