<tafel-dialog type="info" title="Alle Notizen">
  <div tafel-dialog-content>
    <mat-paginator class="tafel-paginator-center" [length]="notesResponse().totalCount" [pageSize]="notesResponse().pageSize"
                   [pageIndex]="notesResponse().currentPage - 1" [hidePageSize]="true" [showFirstLastButtons]="true"
                   (page)="getCustomerNotes($event.pageIndex + 1)"></mat-paginator>
    @for (noteItem of notesResponse().items; track noteItem.timestamp; let i = $index) {
      @if (i > 0) {
        <hr>
      }
      <div class="mb-2">
        <div class="font-bold" testid="note-title">
          {{noteItem.timestamp | date : 'dd.MM.yyyy HH:mm' }}&nbsp;{{noteItem.author}}
        </div>
        <div>{{noteItem.note}}</div>
      </div>
    }
    <mat-paginator class="tafel-paginator-center mt-6" [length]="notesResponse().totalCount" [pageSize]="notesResponse().pageSize"
                   [pageIndex]="notesResponse().currentPage - 1" [hidePageSize]="true" [showFirstLastButtons]="true"
                   (page)="getCustomerNotes($event.pageIndex + 1)"></mat-paginator>
  </div>
  <div tafel-dialog-actions>
    <button testid="cancelButton" matButton="filled" (click)="dialogRef.close()">OK</button>
  </div>
</tafel-dialog>
