<tafel-dialog testId="lock-customer-dialog" type="info" title="Kunde sperren">
  <div tafel-dialog-content>
    <mat-form-field class="w-full">
      <mat-label>Sperrgrund</mat-label>
      <textarea testid="lockreason-input-text" matInput rows="9"
                [ngModel]="reasonText()" (ngModelChange)="reasonText.set($event)"></textarea>
    </mat-form-field>
  </div>
  <div tafel-dialog-actions>
    <button testid="okButton" matButton="filled" (click)="dialogRef.close(reasonText())"
            [disabled]="!reasonText() || reasonText()?.trim()?.length === 0">Speichern</button>
    <button testid="cancelButton" matButton="outlined" (click)="dialogRef.close()">Abbrechen</button>
  </div>
</tafel-dialog>
