.gradle
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/*
!.idea/runConfigurations
/.metadata/

### Eclipse ###
.project
.settings
.metadata

/frontend/frontend.iml
/frontend/target/
/logs/
/backend/backend.iml
/backend/target/
target/
/_http-calls/http-client.private.env.json
/frontend/src/main/webapp/cypress/downloads/
/admin.iml
/.claude