.gradle
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/*
!.idea/runConfigurations
/.metadata/

### Eclipse ###
.project
.settings
.metadata
/frontend/frontend.iml
/frontend/target/
/logs/
/backend/backend.iml
/backend/application/application.iml
/backend/application/target/
/backend/common/common.iml
/backend/common/target/
/backend/database-model/database-model.iml
/backend/database-model/target/
/backend/modules/modules.iml
/backend/modules/checkin/checkin.iml
/backend/modules/checkin/target/
/backend/target/
/backend/modules/target/
target/

### Cypress
/frontend/src/main/webapp/cypress/videos/
