<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 testid="status" class="float-start display-3 me-4">404</h1>
          <h4 testid="title" class="pt-3">Seite nicht gefunden</h4>
          <p testid="subtitle" class="text-medium-emphasis float-start">
            Diese Bananenkiste ist wohl leer
          </p>
        </div>
      </c-col>
    </c-row>
  </c-container>
</div>
