<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <span class="clearfix">
          <h1 testid="status" class="float-start display-3 me-4">500</h1>
          <h4 testid="title" class="pt-3">Houston, wir haben ein Problem!</h4>
          <p testid="subtitle" class="text-medium-emphasis float-start">
            Interner Server Fehler
          </p>
        </span>
      </c-col>
    </c-row>
  </c-container>
</div>
