<tafel-dialog testId="deleteloginattempt-dialog" type="warning" title="Login-Versuch löschen">
  <div tafel-dialog-content>
    <div class="mb-2">Der Eintrag wird unwiderruflich gelöscht, eine bestehende Sperre wird dabei aufgehoben.</div>
    <div class="font-bold mt-6">Sicher?</div>
  </div>
  <div tafel-dialog-actions>
    <button testid="okButton" matButton="filled" (click)="dialogRef.close(true)">Löschen</button>
    <button testid="cancelButton" matButton="outlined" (click)="dialogRef.close()">Abbrechen</button>
  </div>
</tafel-dialog>
