<div class="animated fadeIn">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center h5">Kunden-Details</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col font-weight-bold">Kundennummer:</div>
                        <div class="col">{{customerDetailData?.customerId}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Familienname:</div>
                        <div class="col">{{customerDetailData?.lastname}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Vorname:</div>
                        <div class="col">{{customerDetailData?.firstname}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Geburtsdatum:</div>
                        <div class="col">{{customerDetailData?.birthDate}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Nationalität:</div>
                        <div class="col">{{customerDetailData?.country}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Telefonnummer:</div>
                        <div class="col">{{customerDetailData?.telephoneNumber}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">E-Mail:</div>
                        <div class="col">{{customerDetailData?.email}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col font-weight-bold">Adresse</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{customerDetailData?.addressStreet}}&nbsp;{{customerDetailData?.addressHouseNumber}}&nbsp;Stiege&nbsp;{{customerDetailData?.addressStairway}}&nbsp;Tür&nbsp;{{customerDetailData?.addressDoor}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">{{customerDetailData?.addressPostalCode}} {{customerDetailData?.addressCity}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col font-weight-bold">Arbeitgeber</div>
                    </div>
                    <div class="row">
                        <div class="col">{{customerDetailData?.employer}}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Einkommen&nbsp;(monatlich):
                        </div>
                        <div class="col">
                            {{customerDetailData?.income}}&nbsp;&euro;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Auszahlung&nbsp;bis:
                        </div>
                        <div class="col">
                            {{customerDetailData?.incomeDue}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>