<div class="animated fadeIn">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center h5">Hauptbezieher</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col font-weight-bold">Kundennummer</div>
                        <div testid="customerIdText" class="col">{{customerDetailData?.customerId}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Familienname</div>
                        <div testid="lastnameText" class="col">{{customerDetailData?.lastname}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Vorname</div>
                        <div testid="firstnameText" class="col">{{customerDetailData?.firstname}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Geburtsdatum (Alter)</div>
                        <div testid="birthDateAgeText" class="col">{{customerDetailData?.birthDateAge}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Nationalität</div>
                        <div testid="countryText" class="col">{{customerDetailData?.country}}</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">Telefonnummer</div>
                        <div testid="telephoneNumberText" class="col"
                            *ngIf="customerDetailData?.telephoneNumber !== null"
                            [innerHTML]="customerDetailData?.telephoneNumber"></div>
                        <div testid="telephoneNumberText" class="col"
                            *ngIf="customerDetailData?.telephoneNumber === null">-</div>
                    </div>
                    <div class="row">
                        <div class="col font-weight-bold">E-Mail</div>
                        <div testid="emailText" class="col" *ngIf="customerDetailData?.email !== null"
                            [innerHTML]="customerDetailData?.email"></div>
                        <div testid="emailText" class="col" *ngIf="customerDetailData?.email === null">-</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col font-weight-bold">Adresse</div>
                    </div>
                    <div class="row">
                        <div testid="addressLine1Text" class="col">{{customerDetailData?.addressLine}}</div>
                    </div>
                    <div class="row">
                        <div testid="addressLine2Text" class="col"
                            [innerHTML]="customerDetailData?.addressPostalCode + ' ' + customerDetailData?.addressCity">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col font-weight-bold">Arbeitgeber</div>
                    </div>
                    <div class="row">
                        <div testid="employerText" class="col">{{customerDetailData?.employer}}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Einkommen&nbsp;(monatlich)
                        </div>
                        <div testid="incomeText" class="col">{{customerDetailData?.income}} &euro;</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Auszahlung&nbsp;bis
                        </div>
                        <div testid="incomeDueText" class="col">{{customerDetailData?.incomeDue}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center h5">Weitere Personen</div>
                <div class="card-body">
                    <div *ngIf="additionalPersonsDetailData.length === 0">
                        <h6 testid="nopersons-label">Keine Personen vorhanden</h6>
                    </div>
                    <div *ngFor="let addPerson of additionalPersonsDetailData; let i = index">
                        <hr *ngIf="i > 0">
                        <div class="row">
                            <div [attr.testid]="'addperson-' + i + '-lastnameText'" class="col font-weight-bold"
                                [innerHTML]="addPerson?.lastname"></div>
                            <div [attr.testid]="'addperson-' + i + '-firstnameText'" class="col font-weight-bold"
                                [innerHTML]="addPerson?.firstname"></div>
                        </div>
                        <div class="row">
                            <div [attr.testid]="'addperson-' + i + '-birthDateAgeText'" class="col"
                                [innerHTML]="addPerson?.birthDateAge"></div>
                            <div [attr.testid]="'addperson-' + i + '-incomeText'" class="col"
                                *ngIf="addPerson?.income !== null">Einkommen: {{addPerson?.income}} &euro;</div>
                            <div [attr.testid]="'addperson-' + i + '-incomeText'" class="col"
                                *ngIf="addPerson?.income === null">Einkommen: -</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>