<mat-card class="h-100 mat-card-primary">
  <mat-card-header>
    <mat-card-title>
      <h4>Statistik</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" autocomplete="off" class="flex flex-column gap-4">
      <mat-form-field appearance="fill" class="w-100" subscriptSizing="dynamic" testid="distribution-statistics-employee-count-input">
        <mat-label>Anzahl der Mitarbeiter</mat-label>
        <input
          matInput
          type="number"
          formControlName="employeeCount"
          placeholder="Anzahl der Mitarbeiter"
        />
        @if (employeeCount.errors?.required) {
          <mat-error>
            Pflichtfeld
          </mat-error>
        }
        @if (employeeCount.errors?.min) {
          <mat-error>
            Muss mindestens 1 sein
          </mat-error>
        }
      </mat-form-field>

      <div class="gap-2 d-flex flex-row align-items-center">
        <mat-form-field appearance="fill" class="w-100" subscriptSizing="dynamic" testid="distribution-statistics-persons-in-shelter-input">
          <mat-label>Anzahl Personen in Notschlafstellen</mat-label>
          <input
            matInput
            type="number"
            formControlName="personsInShelterCount"
            placeholder="Anzahl Personen in Notschlafstellen"
            [readonly]="true"
            [disabled]="panelDisabled()"
          />
          @if (personsInShelterCount.errors?.required) {
            <mat-error>
              Pflichtfeld
            </mat-error>
          }
          @if (personsInShelterCount.errors?.min) {
            <mat-error>
              Muss mindestens 1 sein
            </mat-error>
          }
        </mat-form-field>
        <tafel-select-shelters
          (updateSelectedShelters)="onUpdateSelectedShelters($event)"
          [sheltersList]="sheltersData()?.shelters"
          [initialSelectedShelters]="selectedShelters()"
          [disabled]="panelDisabled()"
        ></tafel-select-shelters>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button
      mat-raised-button
      type="button"
      testid="distribution-statistics-save-button"
      (click)="save()"
      [disabled]="panelDisabled()"
    >
      Speichern
    </button>
  </mat-card-footer>
</mat-card>
