<div class="card dashboard-panel bg-primary">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="card-title">Kunden angemeldet</h4>
      </div>
    </div>
    <div class="row">
      <div class="col mb-5">
        <div *ngIf="count" testid="registered-customers-count" class="text-value text-right dashboard-number-huge">{{count}}</div>
        <div *ngIf="!count" testid="registered-customers-count" class="text-value text-right dashboard-number-huge">-</div>
      </div>
    </div>
  </div>
</div>
