<div bsModal #pwdChangeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-m" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Passwort ändern</h4>
        <button type="button" class="close" (click)="pwdChangeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <label class="form-label mr-3">Aktuelles Passwort:</label>
            </div>
            <div class="col">
              <input testId="currentPasswordText" type="password" formControlName="currentPassword" name="currentPassword"
                     class="form-control" autofocus
                     [ngClass]="{'is-invalid': currentPassword.invalid && (currentPassword.dirty || currentPassword.touched), 'is-valid': currentPassword.valid && (currentPassword.dirty || currentPassword.touched)}">
              <div *ngIf="currentPassword.errors?.required && (currentPassword.dirty || currentPassword.touched)"
                   class="invalid-feedback">
                Pflichtfeld
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label class="form-label mr-3">Neues Passwort:</label>
            </div>
            <div class="col">
              <input testId="newPasswordText" type="password" formControlName="newPassword" name="newPassword"
                     class="form-control"
                     [ngClass]="{'is-invalid': newPassword.invalid && (newPassword.dirty || newPassword.touched), 'is-valid': newPassword.valid && (newPassword.dirty || newPassword.touched)}">
              <div *ngIf="newPassword.errors?.required && (newPassword.dirty || newPassword.touched)"
                   class="invalid-feedback">
                Pflichtfeld
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label class="form-label mr-3">Neues Passwort wiederholen:</label>
            </div>
            <div class="col">
              <input testId="newRepeatedPasswordText" type="password" formControlName="newRepeatedPassword"
                     name="newRepeatedPassword"
                     class="form-control"
                     [ngClass]="{'is-invalid': newRepeatedPassword.invalid && (newRepeatedPassword.dirty || newRepeatedPassword.touched), 'is-valid': newRepeatedPassword.valid && (newRepeatedPassword.dirty || newRepeatedPassword.touched)}">
              <div
                *ngIf="newRepeatedPassword.errors?.required && (newRepeatedPassword.dirty || newRepeatedPassword.touched)"
                class="invalid-feedback">
                Pflichtfeld
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="pwdChangeModal.hide()">Abbrechen</button>
        <button type="button" class="btn btn-primary" (click)="changePassword()">Speichern</button>
      </div>
    </div>
  </div>
</div>
