<form [formGroup]="form">
  <button cButton (click)="showSelectSheltersModal = true" testid="dashboard-select-shelters-button">
    <fa-icon [icon]="faCalculator"></fa-icon>
  </button>
</form>
<c-modal id="selectShelters" #selectSheltersModal scrollable testid="selectshelters-modal" [(visible)]="showSelectSheltersModal">
  <c-modal-header cBgColor="info">
    <h4 class="text-white">Notschlafstellen auswählen</h4>
    <button [cModalToggle]="selectSheltersModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="form">
      <div *ngIf="shelters().length > 0">
        <div formArrayName="selectedShelters">
          <div *ngFor="let shelter of shelters(); let idx = index">
            <hr *ngIf="idx > 0" />
            <c-container>
              <c-row class="flex-row">
                <c-col class="col-2">
                  <c-form-check switch="true" sizing="xl">
                      <input
                        type="checkbox"
                        [formControl]="selectedShelters.controls[idx]"
                        [id]="'shelter-' + shelter.id"
                        [attr.testid]="'selectable-shelter-row-' + idx"
                        cFormCheckInput
                      >
                  </c-form-check>
                </c-col>
                <c-col class="col-5 text-start">
                  <c-row>
                    <c-col class="text-start">
                      <strong>{{shelter.name}}</strong>
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col class="text-start text-wrap">
                      <label cFormCheckLabel [for]="'shelter-' + shelter.id">{{ formatShelterAddress(shelter) }}</label>
                    </c-col>
                  </c-row>
                </c-col>
                <c-col class="col-5 fs-5">{{shelter.personsCount}} Personen</c-col>
              </c-row>
            </c-container>
          </div>
        </div>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button testid="selectshelters-save-button" cButton (click)="saveShelterSelection()" [disabled]="this.form.invalid">Speichern</button>
    <button testid="selectshelters-cancel-button" cButton color="secondary" (click)="cancelModal()">Abbrechen</button>
  </c-modal-footer>
</c-modal>
