<form autocomplete="off" (ngSubmit)="$event.preventDefault()">
  <mat-card class="shadow-sm">
    <mat-card-content>
      <div class="mb-3">
        <h5 class="text-lg font-semibold">Benutzer-Suche</h5>
      </div>

      <div class="mb-3">
        <div class="flex flex-col sm:flex-row sm:items-center gap-4">
          <div class="sm:w-1/3">
            <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
              <mat-label>Personalnummer</mat-label>
              <input matInput testid="personnelNumberText" type="text" [formField]="searchForm.personnelNumber" (keydown.enter)="searchForPersonnelNumber()" tafelAutofocus>
            </mat-form-field>
          </div>
          <div class="flex sm:w-2/3 items-center">
            <button matButton="filled" class="self-center" testid="showuser-button" [disabled]="!this.searchForm.personnelNumber().value()" (click)="searchForPersonnelNumber()">Anzeigen</button>
          </div>
        </div>
      </div>

      <mat-divider class="my-4"></mat-divider>

      <div class="mb-3">
        <div class="flex flex-col sm:flex-row sm:items-center gap-4">
          <div class="sm:w-1/3">
            <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
              <mat-label>Benutzername</mat-label>
              <input matInput testid="usernameText" type="text" [formField]="searchForm.username">
            </mat-form-field>
          </div>

          <div class="sm:w-1/3 flex items-center">
            <mat-checkbox [formField]="searchForm.enabled" testid="enabledInput">Aktiv</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="flex flex-col sm:flex-row gap-4">
          <div class="sm:w-1/3">
            <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
              <mat-label>Nachname</mat-label>
              <input matInput testid="lastnameText" type="text" [formField]="searchForm.lastname">
            </mat-form-field>
          </div>
          <div class="sm:w-1/3">
            <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
              <mat-label>Vorname</mat-label>
              <input matInput testid="firstnameText" type="text" [formField]="searchForm.firstname">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="flex sm:w-1/3 mt-4">
        <button matButton="filled" testid="search-button" (click)="searchForDetails()">Suchen</button>
      </div>

      @if(searchResult()) {
        <mat-divider class="my-4"></mat-divider>
        <div class="mt-6">
          <div class="mb-4">
            <h5 class="mb-4">Suchergebnis ({{this.searchResult().totalCount}} gefunden)</h5>
            <tafel-pagination align="end" [paginationData]="paginationData()" (pageChanged)="searchForDetails($event)"></tafel-pagination>
          </div>

          <div class="hidden md:block">
            <table mat-table [dataSource]="searchResult() ? searchResult().items : []" class="min-w-full divide-y divide-gray-200 mt-3" aria-label="Liste der gefundenen Benutzer" testid="searchresult-table">
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user; let i = index"> <fa-icon [icon]="faUser"></fa-icon></td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="px-4 py-2 text-left">Nr.</th>
                <td mat-cell *matCellDef="let user; let i = index" [attr.testid]="'searchresult-id-' + i" class="px-3 py-2">{{user.id}}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="px-4 py-2 text-left">Name</th>
                <td mat-cell *matCellDef="let user; let i = index" [attr.testid]="'searchresult-name-' + i" class="px-3 py-2 cursor-pointer" (click)="navigateToUserDetail(user.id)">
                  @if (user.lastname || user.firstname) {
                    <a class="text-blue-600 hover:underline">{{user.lastname ? user.lastname : '-'}} {{user.firstname ? user.firstname : '-'}}</a>
                  }
                  @if (!user.lastname && !user.firstname) {
                    <div>-</div>
                  }
                </td>
              </ng-container>

              <ng-container matColumnDef="personnelNumber">
                <th mat-header-cell *matHeaderCellDef class="px-4 py-2 text-left">Personalnummer</th>
                <td mat-cell *matCellDef="let user; let i = index" [attr.testid]="'searchresult-personnelnumber-' + i" class="px-3 py-2">{{user.personnelNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="enabled">
                <th mat-header-cell *matHeaderCellDef class="px-4 py-2 text-left">Aktiv</th>
                <td mat-cell *matCellDef="let user; let i = index" [attr.testid]="'searchresult-enabled-' + i" class="px-3 py-2">{{user.enabled ? 'Ja' : 'Nein'}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="px-4 py-2 text-left">Aktionen</th>
                <td mat-cell *matCellDef="let user; let i = index" class="px-3 py-2">
                  <div class="flex gap-2">
                    <button matButton="filled" class="button-info" [attr.testid]="'searchresult-showuser-button-' + i" (click)="navigateToUserDetail(user.id)">
                      <fa-icon [icon]="faSearch"></fa-icon>
                    </button>
                    <button matButton="filled" class="button-danger" [attr.testid]="'searchresult-edituser-button-' + i" (click)="editUser(user.id)">
                      <fa-icon [icon]="faPencil"></fa-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" [attr.testid]="'searchresult-row-' + i"></tr>
            </table>

            <div class="mt-4">
              <tafel-pagination align="end" [paginationData]="paginationData()" (pageChanged)="searchForDetails($event)"></tafel-pagination>
            </div>
          </div>

          <div class="block sm:hidden">
            <div class="flex flex-col gap-3 mb-3">
              @for (user of this.searchResult().items; track user.id; let i = $index) {
                <mat-card class="shadow-sm">
                  <mat-card-header class="font-semibold">{{user.id}} - {{user.lastname}} {{user.firstname}}</mat-card-header>
                  <mat-card-content>
                    <div class="grid grid-cols-2 gap-2">
                      <div class="font-bold">Personalnummer:</div>
                      <div>{{user.personnelNumber}}</div>
                      <div class="font-bold">Aktiv:</div>
                      <div>{{user.enabled ? 'Ja' : 'Nein'}}</div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions class="flex gap-2 mt-2">
                    <button matButton="filled" class="button-info" [attr.testid]="'searchresult-showuser-button-' + i" (click)="navigateToUserDetail(user.id)">
                      <fa-icon [icon]="faSearch"></fa-icon>
                    </button>
                    <button matButton="filled" class="button-danger" [attr.testid]="'searchresult-edituser-button-' + i" (click)="editUser(user.id)">
                      <fa-icon [icon]="faPencil"></fa-icon>
                    </button>
                  </mat-card-actions>
                </mat-card>
              }
            </div>
            <div class="mt-2">
              <tafel-pagination align="center" size="sm" [paginationData]="paginationData()" (pageChanged)="searchForDetails($event)"></tafel-pagination>
            </div>
          </div>
        </div>
      }
    </mat-card-content>
  </mat-card>
</form>
