<form [formGroup]="form" autocomplete="off">
  <mat-card>
    <mat-card-content>
      <div class="mb-4">
        <h5 class="text-lg font-semibold">Kunden-Suche</h5>
        <p class="mt-2 mb-0 text-sm text-slate-600">
          Suche direkt über die Kundennummer oder über Nachname und Vorname, wahlweise eingegrenzt
          über die Filter darunter.
        </p>
      </div>

      <div class="mb-4">
        <div class="flex flex-col sm:flex-row sm:items-center gap-6">
          <div class="sm:w-1/3">
            <mat-form-field class="w-full" subscriptSizing="dynamic">
              <mat-label>Kundennummer</mat-label>
              <input matInput testid="customerIdText" type="number" formControlName="customerId"
                     (keydown.enter)="searchForCustomerId()" tafelAutofocus>
            </mat-form-field>
          </div>
          <div class="flex sm:w-2/3 items-center">
            <button type="button" matButton="filled" class="self-center" testid="showcustomer-button"
                    [disabled]="!customerId.value" (click)="searchForCustomerId()">Anzeigen</button>
          </div>
        </div>
      </div>

      <mat-divider class="!my-6"></mat-divider>

      <div class="mb-4">
        <div class="flex flex-col sm:flex-row gap-6">
          <div class="sm:w-1/3">
            <mat-form-field class="w-full" subscriptSizing="dynamic">
              <mat-label>Nachname</mat-label>
              <input matInput testid="lastnameText" type="text" formControlName="lastname">
            </mat-form-field>
          </div>
          <div class="sm:w-1/3">
            <mat-form-field class="w-full" subscriptSizing="dynamic">
              <mat-label>Vorname</mat-label>
              <input matInput testid="firstnameText" type="text" formControlName="firstname">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <div class="flex flex-col sm:flex-row gap-6">
          <mat-checkbox formControlName="postProcessing" testid="postProcessingInput">Daten unvollständig</mat-checkbox>
          <mat-checkbox formControlName="costContribution" testid="costContributionInput">Unkostenbeitrag offen</mat-checkbox>
          <mat-checkbox formControlName="valid" testid="validInput">Derzeit bezugsberechtigt</mat-checkbox>
        </div>
      </div>

      <div class="flex sm:w-1/3 mt-6">
        <button type="button" matButton="filled" testid="search-button" (click)="searchForDetails()">Suchen</button>
      </div>

      @if (searchResult()) {
        <mat-divider class="!my-6"></mat-divider>
        <div class="mt-6" testid="searchresult-table">
          <div class="mb-6">
            <h5 class="mb-6">Suchergebnis ({{searchResult()!.totalCount}} Kunden)</h5>
            <mat-paginator class="tafel-paginator-responsive" [length]="searchResult()!.totalCount" [pageSize]="searchResult()!.pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           [pageIndex]="searchResult()!.currentPage - 1" [showFirstLastButtons]="true"
                           (page)="searchForDetails($event.pageIndex + 1, $event.pageSize)"></mat-paginator>
          </div>

          <div class="hidden md:block">
            <table mat-table [dataSource]="searchResult()!.items" class="min-w-full divide-y divide-gray-200 mt-4"
                   aria-label="Liste der gefundenen Kunden">
              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let customer"><fa-icon [icon]="faUser"></fa-icon></td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Nr.</th>
                <td mat-cell *matCellDef="let customer; let i = index" [attr.testid]="'searchresult-id-' + i" class="px-4 py-2">{{customer.id}}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Name</th>
                <td mat-cell *matCellDef="let customer; let i = index" [attr.testid]="'searchresult-name-' + i" class="px-4 py-2">
                  @if (customer.lastname || customer.firstname) {
                    <a class="text-blue-600 hover:underline cursor-pointer" (click)="navigateToCustomer(customer.id!)">{{customer.lastname ? customer.lastname : '-'}} {{customer.firstname ? customer.firstname : '-'}}</a>
                  }
                  @if (!customer.lastname && !customer.firstname) {
                    <div>-</div>
                  }
                </td>
              </ng-container>

              <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Geb. Datum</th>
                <td mat-cell *matCellDef="let customer; let i = index" [attr.testid]="'searchresult-birthDate-' + i" class="px-4 py-2">{{!customer.birthDate ? '-' : customer.birthDate | date : 'dd.MM.yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Adresse</th>
                <td mat-cell *matCellDef="let customer; let i = index" [attr.testid]="'searchresult-address-' + i" class="px-4 py-2">{{customer.address | formatCustomerAddress}}</td>
              </ng-container>

              <ng-container matColumnDef="personsCount">
                <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Personen</th>
                <td mat-cell *matCellDef="let customer; let i = index" [attr.testid]="'searchresult-personsCount-' + i" class="px-4 py-2">{{1 + (customer.additionalPersons?.length ?? 0)}}</td>
              </ng-container>

              <ng-container matColumnDef="issuedAt">
                <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Ausgestellt am</th>
                <td mat-cell *matCellDef="let customer; let i = index" [attr.testid]="'searchresult-issuedAt-' + i" class="px-4 py-2">{{!customer.issuedAt ? '-' : customer.issuedAt | date : 'dd.MM.yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="validUntil">
                <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Gültig bis</th>
                <td mat-cell *matCellDef="let customer; let i = index" [attr.testid]="'searchresult-validUntil-' + i" class="px-4 py-2">{{!customer.validUntil ? '-' : customer.validUntil | date : 'dd.MM.yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Aktionen</th>
                <td mat-cell *matCellDef="let customer; let i = index" class="px-4 py-2">
                  <div class="flex gap-2">
                    <button type="button" matButton="filled" class="button-info" [attr.testid]="'searchresult-showcustomer-button-' + i" (click)="navigateToCustomer(customer.id!)">
                      <fa-icon [icon]="faSearch"></fa-icon>
                    </button>
                    <button type="button" matButton="filled" class="button-danger" [attr.testid]="'searchresult-editcustomer-button-' + i" (click)="editCustomer(customer.id!)">
                      <fa-icon [icon]="faPencil"></fa-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" testid="searchresult-row"></tr>
            </table>

            <div class="mt-6">
              <mat-paginator class="tafel-paginator-responsive" [length]="searchResult()!.totalCount" [pageSize]="searchResult()!.pageSize"
                             [pageIndex]="searchResult()!.currentPage - 1" [hidePageSize]="true" [showFirstLastButtons]="true"
                             (page)="searchForDetails($event.pageIndex + 1)"></mat-paginator>
            </div>
          </div>

          <div class="block md:hidden">
            <div class="flex flex-col gap-4 mb-4">
              @for (customer of searchResult()!.items; track customer.id; let i = $index) {
                <mat-card>
                  <mat-card-header class="font-semibold">{{customer.id}} - {{customer.lastname}} {{customer.firstname}}</mat-card-header>
                  <mat-card-content>
                    <div class="grid grid-cols-2 gap-2">
                      <div class="font-bold">Geburtsdatum:</div>
                      <div>{{customer.birthDate | date : 'dd.MM.yyyy'}}</div>
                      <div class="font-bold">Adresse:</div>
                      <div>{{customer.address | formatCustomerAddress}}</div>
                      <div class="font-bold">Personen:</div>
                      <div>{{1 + (customer.additionalPersons?.length ?? 0)}}</div>
                      <div class="font-bold">Gültig bis:</div>
                      <div>{{customer.validUntil | date : 'dd.MM.yyyy'}}</div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions class="flex gap-2 mt-2">
                    <button type="button" matButton="filled" class="button-info" [attr.testid]="'searchresult-showcustomer-button-' + i" (click)="navigateToCustomer(customer.id!)">
                      <fa-icon [icon]="faSearch"></fa-icon>
                    </button>
                    <button type="button" matButton="filled" class="button-danger" [attr.testid]="'searchresult-editcustomer-button-' + i" (click)="editCustomer(customer.id!)">
                      <fa-icon [icon]="faPencil"></fa-icon>
                    </button>
                  </mat-card-actions>
                </mat-card>
              }
            </div>
            <div class="mt-2">
              <mat-paginator class="tafel-paginator-responsive" [length]="searchResult()!.totalCount" [pageSize]="searchResult()!.pageSize"
                             [pageIndex]="searchResult()!.currentPage - 1" [hidePageSize]="true" [showFirstLastButtons]="true"
                             (page)="searchForDetails($event.pageIndex + 1)"></mat-paginator>
            </div>
          </div>
        </div>
      }
    </mat-card-content>
  </mat-card>
</form>
