<tafel-dialog [title]="title" testId="shop-edit-dialog">
  <div tafel-dialog-content>
    <form [formGroup]="form" class="grid grid-cols-1">
      <mat-form-field>
        <mat-label>Nummer</mat-label>
        <input matInput type="number" formControlName="number" testid="shop-number-input"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" testid="shop-name-input"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Straße</mat-label>
        <input matInput formControlName="addressStreet" testid="shop-street-input"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>PLZ</mat-label>
        <input matInput type="number" formControlName="addressPostalCode" testid="shop-postalcode-input"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ort</mat-label>
        <input matInput formControlName="addressCity" testid="shop-city-input"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Einheit</mat-label>
        <mat-select formControlName="foodUnit" testid="shop-foodunit-select">
          <mat-option value="BOX">Kisten</mat-option>
          <mat-option value="KG">Kilogramm</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput formControlName="phone" testid="shop-phone-input"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ansprechperson</mat-label>
        <input matInput formControlName="contactPerson" testid="shop-contactperson-input"/>
      </mat-form-field>

      <mat-checkbox formControlName="enabled" class="mb-6" testid="shop-enabled-checkbox">Aktiv</mat-checkbox>

      <mat-form-field>
        <mat-label>Hinweis</mat-label>
        <textarea matInput formControlName="note" placeholder="Notiz für diesen Markt eingeben ..."
                  rows="5" testid="shop-note-input"></textarea>
      </mat-form-field>
    </form>
  </div>

  <div tafel-dialog-actions>
    <button matButton="filled" testid="shop-save-button" (click)="save()">Speichern</button>
    <button matButton="outlined" testid="shop-cancel-button" (click)="cancel()">Abbrechen</button>
  </div>
</tafel-dialog>
