<div th:fragment="content">
    Infos zur Ausgabe vom [( ${distributionDate} )].
    <br/>
    <br/>
    <p><h3>Retourkisten</h3></p>
    <br/>
    <div th:if="${!#lists.isEmpty(returnBoxes.routes)}">
        <div th:each="route : ${returnBoxes.routes}">
            <p><h4>[( ${route.name} )]</h4></p>
            <div th:each="shop : ${route.shops}">
                <p><strong>[( ${shop.name} )]</strong>&nbsp;[( ${shop.address} )]</p>
                <p>- [( ${shop.returnBoxes} )]</p>
            </div>
            <br/>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(returnBoxes.routes)}">
        <p>Keine</p>
        <br/>
    </div>
</div>