<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'ÖRK Logo'}"
    [brandNarrow]="{src: 'assets/img/brand/logo_small.svg', width: 30, height: 30, alt: 'ÖRK Logo'}"
    routerLink="/uebersicht"
  >
  </c-sidebar-brand>
  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
    <c-sidebar-nav
      [navItems]="navItems"
      dropdownMode="close"
    >
    </c-sidebar-nav>
  </perfect-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  ></c-sidebar-toggler>
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar">
    <ul testid="usermenu" class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"
           dropdownToggle (click)="false">
          <img src="./assets/img/user/user.svg" class="img-avatar" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Benutzer</strong></div>
          <a testid="usermenu-changepassword" class="dropdown-item" [routerLink]="[]" (click)="changePassword()"><i class="fa fa-key"></i> Passwort ändern</a>
          <a testid="usermenu-logout" class="dropdown-item" [routerLink]="[]" (click)="onLogout()"><i class="fa fa-lock"></i> Abmelden</a>
        </div>
      </li>
    </ul>
  </app-default-header>
  <tafel-passwordchange-modal></tafel-passwordchange-modal>
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
</div>
