<div>
    <tafel-customer-form [customerData]="customerData" (customerDataChange)="customerDataUpdated($event)" [editMode]="editMode"></tafel-customer-form>
    <button testid="validate-button" cButton class="px-4 mt-3" (click)="validate()">Anspruch prüfen</button>
    <button testid="save-button" cButton [color]="isSaveEnabled() ? 'success' : 'danger'" class="text-white px-4 mt-3 ms-2" (click)="save()" [disabled]="!isSaveEnabled()">Speichern</button>
</div>
<c-modal id="validationResultModal" #validationResultModal testid="validationresult-modal" [(visible)]="showValidationResultModal">
  <c-modal-header [cBgColor]="validationResultColor" testid="header">
    <h4 testid="title" class="text-white">
      {{validationResult?.valid === true ? "Anspruch vorhanden" : "Kein Anspruch vorhanden"}}
    </h4>
    <button [cModalToggle]="validationResultModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="row">
      <div class="col-8 fw-bold">Limit (inkl. Toleranz von {{validationResult?.toleranceValue}}&nbsp;&euro;):</div>
      <div class="col-4">{{validationResult?.limit}}&nbsp;&euro;</div>
    </div>
    <div class="row">
      <div class="col-8 fw-bold">Einkommen gesamt:</div>
      <div class="col-4">{{validationResult?.totalSum}}&nbsp;&euro;</div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-8 fw-bold">Einkommen über Limit:</div>
      <div class="col-4" [ngClass]="{'text-danger': validationResult?.valid === false}">
        {{validationResult?.amountExceededLimit}}&nbsp;&euro;</div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button testid="ok-button" cButton (click)="showValidationResultModal = false">OK</button>
  </c-modal-footer>
</c-modal>
