<!DOCTYPE html>
<html lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            body {
                font-family: 'Arial', sans-serif;
            }
        </style>
    </head>
    <body>
        <p>Liebe Kolleginnen und Kollegen,</p>
        <br/>
        Infos zur Ausgabe vom [( ${distributionDate} )]
        <br/>
        <br/>
        <p><strong>Anmerkungen:</strong></p>
        <div th:if="${!#strings.isEmpty(notes)}">
            <p>[( ${notes} )]</p>
        </div>
        <div th:if="${#strings.isEmpty(notes)}">
            <p>Keine</p>
        </div>
        <br/>
        <p><strong>Retourkisten:</strong></p>
        <div th:if="${!#lists.isEmpty(returnBoxes.routes)}">
            <div th:each="route : ${returnBoxes.routes}">
                <p>[( ${route.name} )]</p>
                <div th:each="shop : ${route.shops}">
                    <p>- [( ${shop.name} )]: [( ${shop.returnBoxes} )]</p>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(returnBoxes.routes)}">
            <p>Keine</p>
        </div>
        <br/>
        <p><strong>Angefahrene Nächtigungsquartiere:</strong></p>
        <div th:if="${!#lists.isEmpty(shelters)}">
            <div th:each="shelter : ${shelters}">
                <p>- [( ${shelter} )]</p>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(shelters)}">
            <p>Keine</p>
        </div>
        <br/>
        <br/>
        <p>Liebe Grüße,<br>
        Das LTL-/CvT-Team</p>
    </body>
</html>