<mat-card>
  <mat-card-header class="text-xl font-bold">Kunden über dem Limit</mat-card-header>
  <mat-card-content>
    <div class="mb-4">
      Kunden, deren Einkommen sich derzeit über dem aktuell gültigen Limit befindet.
    </div>

    <hr/>

    @if ((customerAboveLimitData()?.items?.length ?? 0) === 0) {
      <h4 class="font-bold mt-4">Keine Kunden über dem Limit gefunden!</h4>
    }

    @if ((customerAboveLimitData()?.items?.length ?? 0) > 0) {
      <div class="mt-4">
        <mat-paginator class="tafel-paginator-responsive" [length]="customerAboveLimitData()!.totalCount" [pageSize]="customerAboveLimitData()!.pageSize"
                       [pageIndex]="customerAboveLimitData()!.currentPage - 1" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"
                       (page)="getAboveLimit($event.pageIndex + 1, $event.pageSize)"></mat-paginator>
      </div>

      <div class="hidden md:block mt-4">
        <table mat-table [dataSource]="customerAboveLimitData()!.items" class="min-w-full divide-y divide-gray-200"
               aria-label="Liste der Kunden über dem Limit">
          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef><span class="sr-only">Status</span></th>
            <td mat-cell *matCellDef="let item"><fa-icon [icon]="faUser"></fa-icon></td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Nr.</th>
            <td mat-cell *matCellDef="let item; let i = index" [attr.testid]="'abovelimit-id-' + i" class="px-4 py-2">{{item.customer.id}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Name</th>
            <td mat-cell *matCellDef="let item; let i = index" [attr.testid]="'abovelimit-name-' + i" class="px-4 py-2">
              {{item.customer.lastname}} {{item.customer.firstname}}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Adresse</th>
            <td mat-cell *matCellDef="let item; let i = index" [attr.testid]="'abovelimit-address-' + i" class="px-4 py-2">{{item.customer.address | formatCustomerAddress}}</td>
          </ng-container>

          <ng-container matColumnDef="validUntil">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Gültig bis</th>
            <td mat-cell *matCellDef="let item; let i = index" [attr.testid]="'abovelimit-validUntil-' + i" class="px-4 py-2">{{!item.customer.validUntil ? '-' : item.customer.validUntil | date : 'dd.MM.yyyy'}}</td>
          </ng-container>

          <ng-container matColumnDef="totalSum">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Einkommen gesamt</th>
            <td mat-cell *matCellDef="let item; let i = index" [attr.testid]="'abovelimit-totalSum-' + i" class="px-4 py-2">{{item.totalSum | currency}}</td>
          </ng-container>

          <ng-container matColumnDef="limit">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Limit</th>
            <td mat-cell *matCellDef="let item; let i = index" [attr.testid]="'abovelimit-limit-' + i" class="px-4 py-2">{{item.limit | currency}}</td>
          </ng-container>

          <ng-container matColumnDef="amountExceededLimit">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Über Limit</th>
            <td mat-cell *matCellDef="let item; let i = index" [attr.testid]="'abovelimit-amountExceededLimit-' + i" class="px-4 py-2">
              <span class="px-2 py-1 rounded text-white bg-red-600">{{item.amountExceededLimit | currency}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="px-6 py-2 text-left">Aktionen</th>
            <td mat-cell *matCellDef="let item; let i = index" class="px-4 py-2">
              <button type="button" matButton="filled" class="button-info" [attr.testid]="'abovelimit-showcustomer-button-' + i" (click)="showCustomerDetail(item.customer.id!)"
                      matTooltip="Kundendetails anzeigen" aria-label="Kundendetails anzeigen">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" testid="abovelimit-row"></tr>
        </table>

        <mat-paginator class="tafel-paginator-responsive mt-4" [length]="customerAboveLimitData()!.totalCount" [pageSize]="customerAboveLimitData()!.pageSize"
                       [pageIndex]="customerAboveLimitData()!.currentPage - 1" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"
                       (page)="getAboveLimit($event.pageIndex + 1, $event.pageSize)"></mat-paginator>
      </div>

      <div class="block md:hidden mt-4">
        <div class="flex flex-col gap-4 mb-4">
          @for (item of customerAboveLimitData()!.items; track trackByCustomerId($index, item); let i = $index) {
            <mat-card>
              <mat-card-header class="font-semibold">{{item.customer.id}} - {{item.customer.lastname}} {{item.customer.firstname}}</mat-card-header>
              <mat-card-content>
                <div class="grid grid-cols-2 gap-2">
                  <div class="font-bold">Adresse:</div>
                  <div>{{item.customer.address | formatCustomerAddress}}</div>
                  <div class="font-bold">Gültig bis:</div>
                  <div>{{!item.customer.validUntil ? '-' : item.customer.validUntil | date : 'dd.MM.yyyy'}}</div>
                  <div class="font-bold">Einkommen gesamt:</div>
                  <div>{{item.totalSum | currency}}</div>
                  <div class="font-bold">Limit:</div>
                  <div>{{item.limit | currency}}</div>
                  <div class="font-bold">Über Limit:</div>
                  <div><span class="px-2 py-1 rounded text-white bg-red-600">{{item.amountExceededLimit | currency}}</span></div>
                </div>
              </mat-card-content>
              <mat-card-actions class="flex gap-2 mt-2">
                <button type="button" matButton="filled" class="button-info" [attr.testid]="'abovelimit-showcustomer-button-' + i" (click)="showCustomerDetail(item.customer.id!)"
                      matTooltip="Kundendetails anzeigen" aria-label="Kundendetails anzeigen">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          }
        </div>
        <div class="mt-2">
          <mat-paginator class="tafel-paginator-responsive" [length]="customerAboveLimitData()!.totalCount" [pageSize]="customerAboveLimitData()!.pageSize"
                         [pageIndex]="customerAboveLimitData()!.currentPage - 1" [hidePageSize]="true" [showFirstLastButtons]="true"
                         (page)="getAboveLimit($event.pageIndex + 1)"></mat-paginator>
        </div>
      </div>
    }
  </mat-card-content>
</mat-card>
