<mat-card class="h-100 mat-card-{{ panelColor() }}">
  <mat-card-header>
    <mat-card-title>
      <h4>Tickets abgearbeitet</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="text-end">
    @if (countProcessedTickets() !== null && countTotalTickets() !== null) {
      <div testid="tickets-processed-count" class="text-5xl">{{ countProcessedTickets() }} / {{ countTotalTickets() }}</div>
    } @else {
      <div testid="tickets-processed-count" class="text-5xl">-</div>
    }
  </mat-card-content>
</mat-card>
