<c-row>
    <c-col>
        <c-card>
            <c-card-body>
                <c-row>
                    <c-col class="mb-2">
                        <h5>Kunden-Annahme</h5>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col sm="3" class="align-self-center">
                        <label class="form-label">Scanner</label>
                    </c-col>
                    <c-col sm="3" class="align-self-center">
                        <select testid="scannerIdInput" class="form-control" cSelect [(ngModel)]="selectedScannerId">
                            <option [ngValue]="undefined">Nicht aktiv</option>
                            <option *ngFor="let scannerId of scannerIds; trackBy: trackByScannerId" [ngValue]="scannerId">
                                Nr. {{scannerId}}</option>
                        </select>
                    </c-col>
                    <c-col>
                        <h5>
                            <c-badge [color]="scannerReadyStateColor" testid="state-camera"
                                     class="mt-3 mt-md-0 mt-lg-0">
                                {{scannerReadyState ? 'AKTIV' : 'INAKTIV'}}
                            </c-badge>
                        </h5>
                    </c-col>
                </c-row>
                <hr>
                <c-row>
                    <c-col sm="3">
                        <label class="form-label">Kundennummer</label>
                    </c-col>
                    <c-col sm="3" class="mb-3">
                        <input testid="customerIdInput" #customerIdInput type="number" name="customerIdInput"
                               [(ngModel)]="customerId" tafelAutofocus
                               class="form-control" (keydown.enter)="searchForCustomerId()">
                    </c-col>
                    <c-col sm="3">
                        <button testid="showCustomerButton" cButton
                                [disabled]="!customerId" (click)="searchForCustomerId()">Anzeigen
                        </button>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
        <c-card class="mt-3" *ngIf="customer() !== undefined" testid="customerDetailPanel">
            <c-card-body>
              <c-row>
                <c-col class="mb-2">
                  <h4>
                    <c-badge [color]="customerStateColor()">
                      {{customerStateText()}}
                    </c-badge>
                    @if (customer()?.pendingCostContribution > 0) {
                      <c-badge color="danger" class="ms-2">
                        Unkostenbeitrag offen: {{customer()?.pendingCostContribution | currency}}
                      </c-badge>
                    }
                  </h4>
                </c-col>
              </c-row>
              <c-row>
                <c-col>
                  <c-row>
                    <h4>Nr. {{customer().id}}{{formattedName() ? ' - ' + formattedName() : ''}}</h4>
                  </c-row>
                  <c-row>
                    <c-col>Gültig bis:</c-col>
                    <c-col>{{customer().validUntil | date : 'dd.MM.yyyy'}}</c-col>
                  </c-row>
                  <hr>
                  <c-tabs [activeItemKey]="0">
                    <c-tabs-list variant="underline-border">
                      <button cTab [itemKey]="0">Details</button>
                      <button cTab [itemKey]="1">Personen ({{customer().additionalPersons.length}})</button>
                    </c-tabs-list>
                    <c-tabs-content>
                      <c-tab-panel class="mt-3" [itemKey]="0">
                        <c-row>
                          <c-col>Adresse:</c-col>
                          <c-col>{{formattedAddress()}}</c-col>
                        </c-row>
                        <c-row>
                          <c-col>Personen im Haushalt (insgesamt):</c-col>
                          <c-col>{{customer().additionalPersons.length + 1}}</c-col>
                        </c-row>
                        <c-row>
                          <c-col>Personen unter 3 Jahren:</c-col>
                          <c-col>{{infantCount()}}</c-col>
                        </c-row>
                      </c-tab-panel>
                      <c-tab-panel class="mt-3" [itemKey]="1">
                        @if(customer().additionalPersons.length === 0) {
                          <c-row>
                            <c-col class="mt-1" testid="nopersons-label">Keine Personen vorhanden</c-col>
                          </c-row>
                        }
                        @if(customer().additionalPersons.length > 0) {
                          <c-row class="mb-2 row row-cols-sm-2 row-cols-1 row-gap-3">
                            @for(addPerson of customer().additionalPersons; track addPerson.id; let i = $index) {
                              <c-col>
                                <c-card>
                                  <c-card-body>
                                    <c-row>
                                      <c-col class="fw-bold" [attr.testid]="'addperson-' + i + '-lastnameText'">{{addPerson?.lastname}}</c-col>
                                      <c-col class="fw-bold" [attr.testid]="'addperson-' + i + '-firstnameText'">{{addPerson?.firstname}}</c-col>
                                    </c-row>
                                    <c-row>
                                      <c-col [attr.testid]="'addperson-' + i + '-birthDateAgeText'">{{addPerson?.birthDate | birthdateAge}}</c-col>
                                      <c-col [attr.testid]="'addperson-' + i + '-genderText'">{{addPerson?.gender | genderLabel}}</c-col>
                                    </c-row>
                                    <c-row>
                                      <c-col [attr.testid]="'addperson-' + i + '-countryText'">{{addPerson?.country.name}}</c-col>
                                    </c-row>
                                    <hr>
                                    <c-row class="align-items-end">
                                      <c-col>Im selben Haushalt:</c-col>
                                      <c-col class="align-bottom" [attr.testid]="'addperson-' + i + '-excludeFromHouseholdText'">{{addPerson?.excludeFromHousehold === true ? 'Nein' : 'Ja'}}</c-col>
                                    </c-row>
                                  </c-card-body>
                                </c-card>
                              </c-col>
                            }
                          </c-row>
                        }
                      </c-tab-panel>
                    </c-tabs-content>
                  </c-tabs>
                </c-col>
                <c-col class="col-sm-4 col-12">
                  <hr class="d-sm-none d-block">
                  <c-card>
                    <c-card-header class="fw-bold">Aktuellste Notiz</c-card-header>
                    <c-card-body>
                      <c-row>
                        <c-col class="fw-bold" *ngIf="customerNotes?.length === 0">
                          <h6 testid="nonotes-label">Keine Notiz vorhanden</h6>
                        </c-col>
                      </c-row>
                      <c-row>
                        <c-col *ngIf="customerNotes && customerNotes?.length !== 0">
                          <c-row class="mb-2">
                            <c-col class="fw-bold" testid="note-title">
                              {{customerNotes[0].timestamp | date : 'dd.MM.yyyy HH:mm' }}&nbsp;{{customerNotes[0].author}}
                            </c-col>
                          </c-row>
                          <c-row>
                            <c-col testid="note-text">
                              {{customerNotes[0].note}}
                            </c-col>
                          </c-row>
                        </c-col>
                      </c-row>
                    </c-card-body>
                  </c-card>
                </c-col>
              </c-row>
              <c-row>
                  <c-col>
                      <div *ngIf="customerState !== 0">
                        <hr>
                        <c-row>
                          <c-col size="12" md="3" class="fw-bold">Ticket-Nummer: *</c-col>
                          <c-col size="12" md="3" class="align-middle">
                            <input testid="ticketNumberInput" #ticketNumberInput type="number"
                                   name="ticketNumberInput" [(ngModel)]="ticketNumber"
                                   class="form-control" required (keydown.enter)="assignCustomer()"
                                   [ngClass]="{'is-invalid': !ticketNumber, 'is-valid': ticketNumber}">
                          </c-col>
                          <c-col>
                            <button testid="deleteTicketButton" *ngIf="ticketNumberEdit === true"
                                    cButton color="danger"
                                    class="ms-0 ms-md-3 mt-3 mt-md-0 text-white"
                                    (click)="deleteTicket()">Ticket löschen
                            </button>
                          </c-col>
                        </c-row>
                        <c-row>
                          <c-col size="12" md="3" class="fw-bold">
                            <label class="form-label">Unkostenbeitrag bezahlt? *</label>
                          </c-col>
                          <c-col size="12" md="3" class="align-middle">
                            <input testid="costContributionPaidInput" type="checkbox" cFormCheckInput
                                   name="costContributionPaidInput" [(ngModel)]="costContributionPaid" required>
                          </c-col>
                        </c-row>
                      </div>
                  </c-col>
              </c-row>
            </c-card-body>
            <c-card-footer>
                <c-row>
                    <c-col>
                        <button [disabled]="customerState === 0 || !ticketNumber" testid="assignCustomerButton"
                                cButton color="success"
                                (click)="assignCustomer()">Annehmen
                        </button>
                        <button testid="cancelButton" #cancelButton cButton class="ms-3"
                                (click)="cancel()">Abbrechen
                        </button>
                    </c-col>
                </c-row>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
