<c-modal id="pwdChangeModal" #pwdChangeModal [(visible)]="showPwdChangeModal">
  <c-modal-header cBgColor="info">
    <h4 class="text-white">Passwort ändern</h4>
    <button [cModalToggle]="pwdChangeModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <tafel-passwordchange-form></tafel-passwordchange-form>
  </c-modal-body>
  <c-modal-footer>
    <button testid="cancelButton" cButton color="secondary" (click)="showPwdChangeModal = false">
      Abbrechen
    </button>
    <button testid="saveButton" cButton color="primary" class="text-white" (click)="changePassword()"
            [disabled]="isSaveDisabled()">Speichern
    </button>
  </c-modal-footer>
</c-modal>
