<c-modal id="pwdChangeModal" [(visible)]="showPwdChangeModal">
  <c-modal-header>
    <h4>Passwort ändern</h4>
    <button type="button" class="close" (click)="showPwdChangeModal = false" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </c-modal-header>
  <c-modal-body>
    <tafel-passwordchange-form></tafel-passwordchange-form>
  </c-modal-body>
  <c-modal-footer>
    <button testid="cancelButton" type="button" class="btn btn-secondary" (click)="showPwdChangeModal = false">
      Abbrechen
    </button>
    <button testid="saveButton" type="button" class="btn btn-primary" (click)="changePassword()"
            [disabled]="isSaveDisabled()">Speichern
    </button>
  </c-modal-footer>
</c-modal>
