<mat-card>
  <mat-card-content class="flex justify-items-center">
    @if (availableCameras() && availableCameras().length == 0) {
      <div class="my-3 w-full">
        <div class="tafel-banner-error" testid="no-camera-message">
          Es wurde keine Kamera gefunden.<br/>Bitte schließen Sie eine Kamera an und laden Sie die Seite neu.
        </div>
      </div>
    }
    <div class="flex mb-3">
      <h1 class="text-6xl">Scanner Nr:</h1>
      <h1 class="ms-3 text-6xl" testid="scanner-id">{{ scannerId() }}</h1>
    </div>
    <div class="flex gap-3 my-3">
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Kamera</mat-label>
        <mat-select testid="cameraSelectionInput"
                    [(ngModel)]="selectedCamera"
                    class="w-64">
          @for (camera of availableCameras(); track trackByCameraId(camera)) {
            <mat-option [value]="camera">{{ camera.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <h4 class="flex items-center justify-center m-0">
        <div testid="state-camera" [class]="'badge badge-' + readyStateColor()">{{ readyStateText() }}</div>
      </h4>
    </div>
    <mat-divider class="my-3"></mat-divider>
    <div id="qrCodeReaderBox" class="w-full max-w-4xl"></div>
    @if (readyState()) {
      <div class="mt-4">
        <div class="tafel-banner-info" testid="message">
          <div><strong>Letzter Scan: </strong>{{ lastScanResult() }}</div>
        </div>
      </div>
    }
  </mat-card-content>
</mat-card>
