<c-container fluid="true" cBgColor="black" class="h-100 w-100">
  <c-row>
    <c-col class="text-center mt-5">
      <h1 *ngIf="startTime" testid="title" class="text-white" style="font-size: 10em;">Start-Zeit</h1>
      <h1 *ngIf="!startTime" testid="title" class="text-white" style="font-size: 10em;">Ticketnummer</h1>
    </c-col>
  </c-row>
  <c-row>
    <c-col class="text-center">
      <div *ngIf="startTime" testid="starttime-text" class="text-white" style="font-size: 30em;">{{startTime | date : 'HH:mm'}}</div>
      <div *ngIf="!startTime" testid="ticketnumber-text" class="text-white" style="font-size: 30em;">{{ticketNumber ?? '-'}}</div>
    </c-col>
  </c-row>
</c-container>
