<c-container fluid="true" cBgColor="black" class="d-flex flex-column h-100 w-100">
  <c-row>
    <c-col class="d-flex justify-content-center mt-3">
      <h1 *ngIf="startTime" class="text-white" style="font-size: 10vh;">Startzeit</h1>
      <h1 *ngIf="ticketNumber" class="text-white" style="font-size: 10vh;">Ticketnummer</h1>
    </c-col>
  </c-row>
  <c-row>
    <c-col class="d-flex justify-content-center">
      <div *ngIf="startTime" class="text-white" style="font-size: 35vh;">{{startTime | date : 'HH:mm'}}</div>
      <div *ngIf="ticketNumber" class="text-white" style="font-size: 35vh;">{{ticketNumber}}</div>
    </c-col>
  </c-row>
</c-container>
