<mat-card class="h-full mat-card-primary">
  <mat-card-content class="!p-4">
    <h2 class="tafel-h4 mb-1">Status</h2>
    <div testid="distribution-state-text" class="text-4xl font-bold leading-none">{{isDistributionActive() ? 'Geöffnet' : 'Geschlossen'}}</div>
  </mat-card-content>
  <mat-card-footer>
    @if (!isDistributionActive()) {
      <button testid="distribution-start-button"
              mat-raised-button
              (click)="createNewDistribution()">Tag starten
      </button>
    }
    @if (isDistributionActive()) {
      <button testid="distribution-close-button"
              mat-raised-button
              (click)="openCloseDistributionDialog()">Tag beenden
      </button>
    }
  </mat-card-footer>
</mat-card>
