<div class="card">
  <div class="card-body pb-0">
    <div class="text-black-50 font-weight-bold">Status</div>
    <div class="text-value font-weight-bold">
      <div class="row">
        <div class="col"
             testid="distribution-state-text">{{distribution?.state.stateLabel ? distribution?.state.stateLabel : 'Inaktiv'}}</div>
      </div>
    </div>
  </div>
  <div class="m-3">
    <div class="row mb-3">
      <div class="col">
        <progressbar class="progress" [value]="progressCurrent" [max]="progressMax"></progressbar>
      </div>
    </div>
    <div *tafelIfPermission="'DISTRIBUTION'">
      <div class="row">
        <div class="col">
          <button *ngIf="!distribution" type="button"
                  testid="distribution-start-button"
                  class="btn btn-block text-white btn-info"
                  (click)="createNewDistribution()">--> Ausgabe öffnen
          </button>
          <button *ngIf="distribution" type="button"
                  testid="distribution-nextstep-button"
                  class="btn btn-block text-white btn-info"
                  (click)="nextDistributionStateModal.show()">--> {{distribution?.state.actionLabel}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div testid="distributionstate-next-modal" bsModal #nextDistributionStateModal="bs-modal" class="modal fade"
     tabindex="-1"
     role="dialog" aria-labelledby="nextDistributionStateModalLabel" aria-hidden="true">
  <div testid="nextDistribution-modal-dialog" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 testid="title" class="modal-title">
          Weiter zum nächsten Schritt?
        </h4>
        <button type="button" class="close" (click)="nextDistributionStateModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col">Achtung: Dieser Schritt kann nicht rückgängig gemacht werden!</div>
        </div>
        <div class="row">
          <div class="col-6">
            <button testid="ok-button" type="button" class="btn btn-primary mr-2"
                    testid="distributionstate-next-modal-ok-button"
                    (click)="switchToNextState()">OK
            </button>
            <button testid="cancel-button" type="button" class="btn btn-secondary"
                    testid="distributionstate-next-modal-cancel-button"
                    (click)="nextDistributionStateModal.hide()">Abbrechen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
