@if (currentShop(); as shop) {
  <div class="mt-4 mb-4">
    <div class="grid grid-cols-12">
      <div class="col-span-3 font-bold">Filiale:</div>
      <div class="col-span-9" testid="shop-title">{{ shop.id + ' - ' + shop.name }}</div>
    </div>
    <div class="grid grid-cols-12">
      <div class="col-span-3"></div>
      <div class="col-span-9">{{ shop.address }}</div>
    </div>
    <div class="grid grid-cols-2 mt-4">
      <div class="text-center">
        <button matButton="filled" (click)="selectPreviousShop()" testid="previous-shop-button"
                [disabled]="this.selectedRouteData()?.shops?.indexOf(shop) === 0">
          Vorherige
        </button>
      </div>
      <div class="text-center">
        <button matButton="filled" (click)="selectNextShop()" [disabled]="this.selectedRouteData()?.shops?.indexOf(shop) === (this.selectedRouteData()?.shops?.length ?? 0) - 1" testid="next-shop-button">
          Nächste
        </button>
      </div>
    </div>
    <hr>
    <div>
      @for (category of foodCategoriesItems(); track category?.id) {
        <div class="flex flex-col">
          <div class="text-center">{{ category.name }}</div>
          <div class="mb-4">
            <tafel-counter-input [testId]="'category-' + category.id"
                                 [key]="category.id"
                                 [value]="categoryValues()[category.id]"
                                 (valueChanged)="onValueChange($event)"></tafel-counter-input>
          </div>
        </div>
      }
    </div>
    <hr>
    <div>
      @for (category of foodCategoriesReturn(); track category?.id) {
        <div class="flex flex-col">
          <div class="text-center">{{ category.name }}</div>
          <div class="mb-4">
            <tafel-counter-input [testId]="'category-' + category.id"
                                 [key]="category.id"
                                 [value]="categoryValues()[category.id]"
                                 (valueChanged)="onValueChange($event)"></tafel-counter-input>
          </div>
        </div>
      }
    </div>
    <hr>
    <button testid="save-items-responsive-button" matButton="filled" (click)="save()">Speichern</button>
  </div>
}
