<c-card>
  <c-card-header>
    <c-row class="d-flex align-items-center">
      <c-col class="d-flex align-items-center gap-2">
        <svg [cIcon]="cilEnvelopeClosed" size="xl" title="E-Mail Icon"></svg>
        <h5 class="mb-0 mt-1 align-self-center">E-Mail Empfänger</h5>
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    <form [formGroup]="form" autocomplete="off">
      <mat-tab-group animationDuration="0ms" formArrayName="mailRecipients">
        @for (recipientOfMailType of mailRecipientArray.controls; track recipientOfMailType; let i = $index; ) {
          <mat-tab>
            <ng-template mat-tab-label>
              <span [attr.testid]="'mailtype-tab-' + recipientOfMailType.value.mailType"
                    [class.text-danger]="recipientOfMailType.invalid">
                {{ MailTypeLabels[recipientOfMailType.value.mailType] }}
              </span>
            </ng-template>
            <div class="p-3" [formGroupName]="i">
              <div formArrayName="recipients" class="row g-3">
                @for (recipient of getRecipientsForMailTypeIndex(i).controls; track recipient; let j = $index; ) {
                  <div class="col-sm-12 col-md-4" [formGroupName]="j">
                    <div class="d-flex align-items-center flex-nowrap">
                      <div class="fw-bold flex-grow-1">
                        {{ RecipientTypeLabels[recipient.get('recipientType').value] }}
                      </div>
                      <div class="text-end">
                        <button cButton
                                [attr.testid]="'add-recipient-button-' + recipientOfMailType.value.mailType + '-' + recipient.get('recipientType').value"
                                color="success" (click)="addAddress(i, j)">
                          <fa-icon [icon]="faPlus" inverse="true"></fa-icon>
                        </button>
                      </div>
                    </div>
                    <div formArrayName="addresses">
                      @for (address of getAddressesOfRecipientTypeIndex(i, j).controls; track address; let
                        k = $index; ) {
                        <div class="mt-2 d-flex align-items-center flex-nowrap">
                          <div class="flex-grow-1">
                            <input
                              [attr.testid]="'email-input-' + recipientOfMailType.value.mailType + '-' + recipient.get('recipientType').value + '-' + k"
                              type="email"
                              [formControlName]="k"
                              class="form-control"
                              [ngClass]="{'is-invalid': address.invalid && (address.dirty || address.touched), 'is-valid': address.valid && (address.dirty || address.touched)}"
                            >
                            @if (address.errors && (address.dirty || address.touched)) {
                              <div class="invalid-feedback">
                                Ungültige E-Mail Adresse
                              </div>
                            }
                          </div>
                          <div class="text-end">
                            <button cButton color="danger"
                                    [attr.testid]="'remove-recipient-button-' + recipientOfMailType.value.mailType + '-' + recipient.get('recipientType').value + '-' + k"
                                    (click)="removeAddress(i, j, k)">
                              <fa-icon [icon]="faTrashCan" inverse="true"></fa-icon>
                            </button>
                          </div>
                        </div>
                      }
                    </div>
                    @if (j < 2) {
                      <hr class="d-md-none">
                    }
                  </div>
                }
              </div>
            </div>
          </mat-tab>
        }
      </mat-tab-group>
    </form>
  </c-card-body>
  <c-card-footer>
    <button cButton testid="save-button" color="primary" (click)="save()">Speichern</button>
  </c-card-footer>
</c-card>
