@if (successMessage) {
  <div testid="successMessage" class="alert alert-success mb-3">
    <div testid="successMessageContent">{{successMessage}}</div>
  </div>
}
@if (errorMessage) {
  <div testid="errorMessage" class="alert alert-danger mb-3">
    <div testid="errorMessageContent">
      <div>{{errorMessage}}</div>
      @if (errorMessageDetails.length > 0) {
        <div class="mt-2">
          <div class="fw-bold">Details:</div>
          <ul>
            @for (detail of errorMessageDetails; track $index; let i = $index) {
              <div>
                <li [attr.testid]="'errormessage-detail-' + i">{{detail}}</li>
              </div>
            }
          </ul>
        </div>
      }
    </div>
  </div>
}
<form [formGroup]="form">
  <div class="row">
    <div class="col">
      <label class="form-label me-3">Aktuelles Passwort:</label>
    </div>
    <div class="col">
      <c-input-group>
        <input testid="currentPasswordText" type="password" formControlName="currentPassword"
               name="currentPassword" [type]="currentPasswordTextVisible ? 'text' : 'password'"
               class="form-control" tafelAutofocus
               [ngClass]="{'is-invalid': currentPassword.invalid && (currentPassword.dirty || currentPassword.touched), 'is-valid': currentPassword.valid && (currentPassword.dirty || currentPassword.touched)}">
        <span cInputGroupText (click)="toggleCurrentPasswordVisibility()">
          @if (!currentPasswordTextVisible) {
            <fa-icon [icon]="faEyeSlash"></fa-icon>
          }
          @if (currentPasswordTextVisible) {
            <fa-icon [icon]="faEye"></fa-icon>
          }
        </span>
        @if (currentPassword.errors?.required && (currentPassword.dirty || currentPassword.touched)) {
          <div class="invalid-feedback">
            Pflichtfeld
          </div>
        }
      </c-input-group>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col">
      <label class="form-label me-3">Neues Passwort:</label>
    </div>
    <div class="col">
      <c-input-group>
        <input testid="newPasswordText" type="password" formControlName="newPassword" name="newPassword"
               class="form-control" [type]="newPasswordTextVisible ? 'text' : 'password'"
               [ngClass]="{'is-invalid': newPassword.invalid && (newPassword.dirty || newPassword.touched), 'is-valid': newPassword.valid && (newPassword.dirty || newPassword.touched)}">
        <span cInputGroupText (click)="toggleNewPasswordVisibility()">
          @if (!newPasswordTextVisible) {
            <fa-icon [icon]="faEyeSlash"></fa-icon>
          }
          @if (newPasswordTextVisible) {
            <fa-icon [icon]="faEye"></fa-icon>
          }
        </span>
        @if (newPassword.errors?.required && (newPassword.dirty || newPassword.touched)) {
          <div class="invalid-feedback">
            Pflichtfeld
          </div>
        }
        @if (newPassword.errors?.minlength && (newPassword.dirty || newPassword.touched)) {
          <div class="invalid-feedback">
            Passwort zu kurz (Limit: {{newPassword.errors.minlength.requiredLength}})
          </div>
        }
        @if (newPassword.errors?.maxlength && (newPassword.dirty || newPassword.touched)) {
          <div class="invalid-feedback">
            Passwort zu lang (Limit: {{newPassword.errors.maxlength.requiredLength}})
          </div>
        }
      </c-input-group>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label class="form-label me-3">Neues Passwort wiederholen:</label>
    </div>
    <div class="col">
      <c-input-group>
        <input testid="newRepeatedPasswordText" type="password" formControlName="newRepeatedPassword"
               name="newRepeatedPassword" [type]="newRepeatedPasswordTextVisible ? 'text' : 'password'" class="form-control"
               [ngClass]="{'is-invalid': form.errors?.passwordsDontMatch || (newRepeatedPassword.invalid && (newRepeatedPassword.dirty || newRepeatedPassword.touched)),
                     'is-valid': !form.errors?.passwordsDontMatch && newRepeatedPassword.valid && (newRepeatedPassword.dirty || newRepeatedPassword.touched)}"/>
        <span cInputGroupText (click)="toggleNewRepeatedPasswordTextVisible()">
          @if (!newRepeatedPasswordTextVisible) {
            <fa-icon [icon]="faEyeSlash"></fa-icon>
          }
          @if (newRepeatedPasswordTextVisible) {
            <fa-icon [icon]="faEye"></fa-icon>
          }
        </span>
        @if (newRepeatedPassword.errors?.required && (newRepeatedPassword.dirty || newRepeatedPassword.touched)) {
          <div class="invalid-feedback">
            Pflichtfeld
          </div>
        }
        @if (newRepeatedPassword.errors?.minlength && (newRepeatedPassword.dirty || newRepeatedPassword.touched)) {
          <div class="invalid-feedback">
            Passwort zu kurz (Limit: {{newRepeatedPassword.errors.minlength.requiredLength}})
          </div>
        }
        @if (newRepeatedPassword.errors?.maxlength && (newRepeatedPassword.dirty || newRepeatedPassword.touched)) {
          <div class="invalid-feedback">
            Passwort zu lang (Limit: {{newRepeatedPassword.errors.maxlength.requiredLength}})
          </div>
        }
        @if (form.errors?.passwordsDontMatch) {
          <div class="invalid-feedback">
            Passwort-Wiederholung stimmt nicht überein!
          </div>
        }
      </c-input-group>
    </div>
  </div>
  <div class="row mt-4 mb-2">
    <div class="col fw-bold">Passwortregeln</div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        <li>Mindestens 8 Zeichen, maximal 50 Zeichen</li>
        <li>Der Benutzername darf nicht Teil des Passworts sein</li>
        <li>Keine Leerzeichen</li>
        <li>Folgende Wörter sind nicht erlaubt:<br/>wrk, örk, oerk, tafel, roteskreuz, toet, töt, 1030</li>
      </ul>
    </div>
  </div>
</form>
