@if (successMessage()) {
  <div testid="successMessage" class="alert alert-success mb-3">
    <div testid="successMessageContent">{{successMessage()}}</div>
  </div>
}
@if (errorMessage()) {
  <div testid="errorMessage" class="alert alert-danger mb-3">
    <div testid="errorMessageContent">
      <div>{{errorMessage()}}</div>
      @if (errorMessageDetails().length > 0) {
        <div class="mt-2">
          <div class="fw-bold">Details:</div>
          <ul>
            @for (detail of errorMessageDetails(); track $index; let i = $index) {
              <div>
                <li [attr.testid]="'errormessage-detail-' + i">{{detail}}</li>
              </div>
            }
          </ul>
        </div>
      }
    </div>
  </div>
}
<form autocomplete="off">
  <c-row>
    <c-col>
      <label class="form-label me-3">Aktuelles Passwort:</label>
    </c-col>
    <c-col>
      <c-input-group>
        <input testid="currentPasswordText" [formField]="passwordForm.currentPassword"
               [type]="currentPasswordTextVisible() ? 'text' : 'password'"
               class="form-control" tafelAutofocus
               [ngClass]="{'is-invalid': passwordForm.currentPassword().invalid() && (passwordForm.currentPassword().dirty() || passwordForm.currentPassword().touched()), 'is-valid': passwordForm.currentPassword().valid() && (passwordForm.currentPassword().dirty() || passwordForm.currentPassword().touched())}">
        <span cInputGroupText (click)="toggleCurrentPasswordVisibility()">
          @if (!currentPasswordTextVisible()) {
            <fa-icon [icon]="faEyeSlash"></fa-icon>
          }
          @if (currentPasswordTextVisible()) {
            <fa-icon [icon]="faEye"></fa-icon>
          }
        </span>
        @if (passwordForm.currentPassword().touched() && passwordForm.currentPassword().invalid()) {
          @for (error of passwordForm.currentPassword().errors(); track error) {
            <div class="invalid-feedback">
              {{error.message}}
            </div>
          }
        }
      </c-input-group>
    </c-col>
  </c-row>
  <hr>
  <c-row class="mt-3">
    <c-col>
      <label class="form-label me-3">Neues Passwort:</label>
    </c-col>
    <c-col>
      <c-input-group>
        <input testid="newPasswordText" [formField]="passwordForm.newPassword"
               class="form-control" [type]="newPasswordTextVisible() ? 'text' : 'password'"
               [ngClass]="{'is-invalid': passwordForm.newPassword().invalid() && (passwordForm.newPassword().dirty() || passwordForm.newPassword().touched()), 'is-valid': passwordForm.newPassword().valid() && (passwordForm.newPassword().dirty() || passwordForm.newPassword().touched())}">
        <span cInputGroupText (click)="toggleNewPasswordVisibility()">
          @if (!newPasswordTextVisible()) {
            <fa-icon [icon]="faEyeSlash"></fa-icon>
          }
          @if (newPasswordTextVisible()) {
            <fa-icon [icon]="faEye"></fa-icon>
          }
        </span>
        @if (passwordForm.newPassword().touched() && passwordForm.newPassword().invalid()) {
          @for (error of passwordForm.newPassword().errors(); track error) {
            <div class="invalid-feedback">
              {{error.message}}
            </div>
          }
        }
      </c-input-group>
    </c-col>
  </c-row>
  <c-row class="mt-3">
    <c-col>
      <label class="form-label me-3">Neues Passwort wiederholen:</label>
    </c-col>
    <c-col>
      <c-input-group>
        <input testid="newRepeatedPasswordText" [formField]="passwordForm.newRepeatedPassword"
               [type]="newRepeatedPasswordTextVisible() ? 'text' : 'password'" class="form-control"
               [ngClass]="{'is-invalid': passwordForm.newRepeatedPassword().invalid() && (passwordForm.newRepeatedPassword().dirty() || passwordForm.newRepeatedPassword().touched()),
                     'is-valid': passwordForm.newRepeatedPassword().valid() && (passwordForm.newRepeatedPassword().dirty() || passwordForm.newRepeatedPassword().touched())}"/>
        <span cInputGroupText (click)="toggleNewRepeatedPasswordTextVisible()">
          @if (!newRepeatedPasswordTextVisible()) {
            <fa-icon [icon]="faEyeSlash"></fa-icon>
          }
          @if (newRepeatedPasswordTextVisible()) {
            <fa-icon [icon]="faEye"></fa-icon>
          }
        </span>
        @if (passwordForm.newRepeatedPassword().touched() && passwordForm.newRepeatedPassword().invalid()) {
          @for (error of passwordForm.newRepeatedPassword().errors(); track error) {
            <div class="invalid-feedback">
              {{error.message}}
            </div>
          }
        }
      </c-input-group>
    </c-col>
  </c-row>
  <c-row class="mt-4 mb-2">
    <c-col class="fw-bold">Passwortregeln</c-col>
  </c-row>
  <c-row>
    <c-col>
      <ul>
        <li>Mindestens 8 Zeichen, maximal 50 Zeichen</li>
        <li>Der Benutzername darf nicht Teil des Passworts sein</li>
        <li>Keine Leerzeichen</li>
        <li>Folgende Wörter sind nicht erlaubt:<br/>wrk, örk, oerk, tafel, roteskreuz, toet, töt, 1030</li>
      </ul>
    </c-col>
  </c-row>
</form>
