@if (customerData()?.locked) {
  <div testid="lock-info-banner" class="alert alert-danger">
    <div><strong>Kunde ist gesperrt!</strong></div>
    @if (customerData().lockedBy) {
      <div>Gesperrt am {{ customerData().lockedAt | date : 'dd.MM.yyyy HH:mm' }} von {{ customerData().lockedBy }}</div>
    }
    @if (customerData().lockReason) {
      <div><strong>Sperrgrund:</strong> {{ customerData().lockReason }}</div>
    }
  </div>
}
<div class="d-flex flex-col-reverse flex-lg-column">
  <div class="d-flex flex-col flex-lg-row mt-3 mt-lg-0 mb-4 mb-lg-0">
    <c-dropdown variant="dropdown">
      <button testid="printMenuButton" cButton cDropdownToggle [disabled]="customerData()?.locked">
        Daten ausdrucken
      </button>
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem style="cursor: pointer;" testid="printCombinedButton" (click)="printCombined()">
            Stammdaten + Ausweis
          </button>
        </li>
        <li>
          <hr cDropdownDivider>
        </li>
        <li>
          <button cDropdownItem style="cursor: pointer;" testid="printMasterdataButton" (click)="printMasterdata()">Nur
            Stammdaten
          </button>
        </li>
        <li>
          <button cDropdownItem style="cursor: pointer;" testid="printIdCardButton" (click)="printIdCard()">Nur
            Ausweis
          </button>
        </li>
      </ul>
    </c-dropdown>
    <c-dropdown
      variant="dropdown"
      class="mt-3 mt-lg-0 ms-lg-3">
      <button testid="prolongButton" cButton cDropdownToggle [disabled]="customerData()?.locked">
        Bezug verlängern
      </button>
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem style="cursor: pointer;" testid="prolongOneMonthButton" (click)="prolongCustomer(1)">1
            Monat
          </button>
        </li>
        <li>
          <button cDropdownItem style="cursor: pointer;" testid="prolongTwoMonthsButton" (click)="prolongCustomer(2)">2
            Monate
          </button>
        </li>
        <li>
          <button cDropdownItem style="cursor: pointer;" testid="prolongThreeMonthsButton" (click)="prolongCustomer(3)">
            3 Monate
          </button>
        </li>
        <li>
          <button cDropdownItem style="cursor: pointer;" testid="prolongSixMonthsButton" (click)="prolongCustomer(6)">6
            Monate
          </button>
        </li>
        <li>
          <button cDropdownItem style="cursor: pointer;" testid="prolongTwelveMonthsButton"
                  (click)="prolongCustomer(12)">12 Monate
          </button>
        </li>
      </ul>
    </c-dropdown>
    <c-dropdown
      variant="btn-group"
      class="mt-3 mt-lg-0 ms-lg-3">
      <button cButton color="danger" class="text-white" testid="editCustomerButton" (click)="editCustomer()"
              [disabled]="!customerData() || customerData()?.locked">Kunde bearbeiten
      </button>
      <button testid="editCustomerToggleButton" color="danger" class="text-white" cButton cDropdownToggle split>
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul cDropdownMenu>
        <li>
          <button cDropdownItem testid="invalidateCustomerButton" (click)="disableCustomer()"
                  [disabled]="!customerData() || customerData()?.locked">Kunde deaktivieren
          </button>
        </li>
        <li>
          <hr cDropdownDivider>
        </li>
        <li>
          <button cDropdownItem testid="lockCustomerButton" (click)="openLockCustomerDialog()"
                  [disabled]="!customerData() || customerData()?.locked">Kunde sperren
          </button>
        </li>
        <li>
          <button cDropdownItem testid="unlockCustomerButton" (click)="unlockCustomer()"
                  [disabled]="!customerData() || !customerData()?.locked">Kunde entsperren
          </button>
        </li>
        <li>
          <hr cDropdownDivider>
        </li>
        <li>
          <button cDropdownItem testid="deleteCustomerButton" (click)="openDeleteCustomerDialog()"
                  [disabled]="!customerData() || customerData()?.locked">Kunde löschen
          </button>
        </li>
      </ul>
    </c-dropdown>
  </div>
  <div *tafelIfDistributionActive class="d-flex align-items-center mt-3 mt-lg-2 mb-2">
    @if (!ticketNumber()) {
      <input testid="ticket-number-input" type="number" class="form-control me-2" style="max-width: 150px;"
             placeholder="Ticketnummer"
             [ngModel]="ticketNumberInput()" (ngModelChange)="ticketNumberInput.set($event)">
      <button testid="assign-ticket-button" cButton color="success" class="text-white"
              [disabled]="!ticketNumberInput() || customerData()?.locked"
              (click)="assignTicket()">
        Ticket zuweisen
      </button>
    } @else {
      <span testid="ticket-number-display" class="fw-bold me-3">Ticket: {{ ticketNumber() }}</span>
      <button testid="delete-ticket-button" cButton color="danger" class="text-white"
              (click)="deleteTicket()">
        Ticket löschen
      </button>
    }
  </div>
  <hr>
  <c-row class="mt-0 mt-lg-3 mb-0 mb-lg-3">
    <c-col>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Allgemeine Daten">
          <div class="mt-3 px-3">
            <div class="row g-3 mt-2">
              <div class="col-lg-6 col-sm-12">
                <c-card>
                  <c-card-header class="text-center">
                    <h5>Hauptbezieher</h5>
                  </c-card-header>
                  <c-card-body>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">Kundennummer</span>
                      <span testid="customerIdText">{{ customerData()?.id }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">Name</span>
                      <span testid="nameText">{{ customerData() | formatCustomerName }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">Geburtsdatum (Alter)</span>
                      <span testid="birthDateAgeText">{{ customerData()?.birthDate | birthdateAge }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">Geschlecht</span>
                      <span testid="genderText">{{ customerData()?.gender | genderLabel }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">Nationalität</span>
                      <span testid="countryText">{{ customerData()?.country?.name }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">Telefon</span>
                      <span
                        testid="telephoneNumberText">{{ customerData()?.telephoneNumber ? customerData()?.telephoneNumber : '-' }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">E-Mail</span>
                      <span testid="emailText">{{ customerData()?.email ? customerData()?.email : '-' }}</span>
                    </div>
                    <hr>
                    <div>
                      <span class="fw-bold">Adresse</span>
                      <div>
                        <div testid="addressLine1Text">{{ customerData()?.address ? formatAddressLine1(customerData()?.address) : '' }}</div>
                        <div testid="addressLine2Text">{{ customerData()?.address ? formatAddressLine2(customerData()?.address) : '' }}</div>
                      </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">Arbeitgeber</span>
                      <span testid="employerText">{{ customerData()?.employer ? customerData()?.employer : '-' }}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                      <span class="fw-bold">Einkommen (monatlich)</span>
                      <span
                        testid="incomeText">{{ !customerData()?.income ? '-' : customerData()?.income | currency }}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                      <span>nachgewiesen bis:</span>
                      <span
                        testid="incomeDueText">{{ !customerData()?.incomeDue ? '-' : customerData()?.incomeDue | date : 'dd.MM.yyyy' }}</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold">Angelegt</span>
                      <span
                        testid="issuedInformation">am {{ customerData()?.issuedAt | date : 'dd.MM.yyyy' }} {{ customerData()?.issuer | formatIssuer }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold text-white"
                            [ngClass]="{'bg-success': customerData()?.validUntil && isValid(), 'bg-danger': customerData()?.validUntil && !isValid()}">
                        Gültig bis:
                      </span>
                      <span testid="validUntilText" class="text-white"
                            [ngClass]="{'bg-success': customerData()?.validUntil && isValid(), 'bg-danger': customerData()?.validUntil && !isValid()}">{{ customerData()?.validUntil | date : 'dd.MM.yyyy' }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span class="fw-bold"
                            [ngClass]="{'bg-danger': customerData()?.pendingCostContribution > 0, 'text-white': customerData()?.pendingCostContribution > 0}">Unkostenbeitrag ausstehend:</span>
                      <span testid="pendingCostContributionText"
                            [ngClass]="{'bg-danger': customerData()?.pendingCostContribution > 0, 'text-white': customerData()?.pendingCostContribution > 0}">
                        {{ customerData()?.pendingCostContribution | currency }}
                      </span>
                    </div>
                  </c-card-body>
                </c-card>
              </div>
              <div class="col-lg-6 col-sm-12">
                <c-card>
                  <c-card-header>
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="m-0">Aktuellste Notiz</h5>
                      <button testid="addnote-button" cButton color="success" (click)="openAddNoteDialog()">
                        <fa-icon [icon]="faPlus" inverse="true"></fa-icon>
                      </button>
                    </div>
                  </c-card-header>
                  <c-card-body>
                    @if (customerNotes()?.length === 0) {
                      <div class="fw-bold" testid="latest-customer-note-none">
                        <h6 testid="nonotes-label">Keine Notiz vorhanden</h6>
                      </div>
                    }
                    @if (customerNotes()?.length !== 0) {
                      <div testid="latest-customer-note">
                        <div class="mb-2">
                          <span class="fw-bold"
                                testid="note-title">{{ customerNotes()[0].timestamp | date : 'dd.MM.yyyy HH:mm' }}&nbsp;{{ customerNotes()[0].author }}</span>
                        </div>
                        <div testid="note-text" [innerHtml]="customerNotes()[0].note"></div>
                      </div>
                    }
                  </c-card-body>
                  @if (customerNotes()?.length > 1) {
                    <c-card-footer>
                      <button testid="showall-notes-button" cButton (click)="openAllNotesDialog()">Alle Notizen
                        anzeigen
                      </button>
                    </c-card-footer>
                  }
                </c-card>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="faUsers"></fa-icon>&nbsp;Weitere Personen ({{ customerData()?.additionalPersons.length }})
          </ng-template>
          <div class="px-3">
            @if (customerData()?.additionalPersons.length === 0) {
              <h6 testid="nopersons-label" class="mt-3">Keine Personen vorhanden</h6>
            }
            @if (customerData()?.additionalPersons.length > 0) {
              <div class="row g-3 mt-2">
                @for (addPerson of customerData()?.additionalPersons; track addPerson.id; let i = $index) {
                  <div class="col-sm-6 col-12">
                    <c-card>
                      <c-card-body>
                        <div class="d-flex justify-content-between">
                          <span class="fw-bold"
                                [attr.testid]="'addperson-' + i + '-lastnameText'">{{ addPerson?.lastname }}</span>
                          <span class="fw-bold"
                                [attr.testid]="'addperson-' + i + '-firstnameText'">{{ addPerson?.firstname }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                          <span
                            [attr.testid]="'addperson-' + i + '-birthDateAgeText'">{{ addPerson?.birthDate | birthdateAge }}</span>
                          <span
                            [attr.testid]="'addperson-' + i + '-genderText'">{{ addPerson?.gender | genderLabel }}</span>
                        </div>
                        <div>
                          <span [attr.testid]="'addperson-' + i + '-countryText'">{{ addPerson?.country?.name }}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between mt-1">
                          <span>Arbeitgeber</span>
                          <span
                            [attr.testid]="'addperson-' + i + '-employerText'">{{ addPerson?.employer ?? '-' }}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                          <span>Einkommen (monatl.)</span>
                          <span
                            [attr.testid]="'addperson-' + i + '-incomeText'">{{ addPerson?.income ? (addPerson?.income | currency) : '-' }}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                          <span>Einkommen nachgewiesen bis:</span>
                          <span class="align-bottom"
                                [attr.testid]="'addperson-' + i + '-incomeDueText'">{{ addPerson?.incomeDue ? (addPerson?.incomeDue | date : 'dd.MM.yyyy') : '-' }}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                          <span>Bezieht Familienbeihilfe:</span>
                          <span class="align-bottom"
                                [attr.testid]="'addperson-' + i + '-receivesFamilyBonus'">{{ addPerson?.receivesFamilyBonus === true ? 'Ja' : 'Nein' }}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                          <span>Im selben Haushalt:</span>
                          <span class="align-bottom"
                                [attr.testid]="'addperson-' + i + '-excludeFromHouseholdText'">{{ addPerson?.excludeFromHousehold === true ? 'Nein' : 'Ja' }}</span>
                        </div>
                      </c-card-body>
                    </c-card>
                  </div>
                }
              </div>
            }
          </div>
        </mat-tab>
      </mat-tab-group>
    </c-col>
  </c-row>
</div>
