<div class="row ml-1">
  <div testid="errorMessage" *ngIf="errorMessage" class="alert alert-danger mb-3">
    <div testid="errorMessageContent">{{errorMessage}}</div>
  </div>
</div>
<div class="d-flex flex-column flex-lg-row">
  <div class="btn-group" dropdown>
    <button testid="printMenuButton" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Daten ausdrucken <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" style="cursor: pointer;" testid="printCombinedButton"
                             (click)="printCombined()">Stammdaten + Ausweis</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" style="cursor: pointer;" testid="printMasterdataButton"
                             (click)="printMasterdata()">Nur Stammdaten</a></li>
      <li role="menuitem"><a class="dropdown-item" style="cursor: pointer;" testid="printIdCardButton"
                             (click)="printIdCard()">Nur Ausweis</a></li>
    </ul>
  </div>
  <div class="btn-group mt-3 mt-lg-0 ml-lg-3" dropdown>
    <button testid="prolongButton" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Bezug verlängern <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" style="cursor: pointer;" testid="prolongOneMonthButton"
                             (click)="prolongCustomer(1)">1 Monat</a></li>
      <li role="menuitem"><a class="dropdown-item" style="cursor: pointer;" testid="prolongTwoMonthsButton"
                             (click)="prolongCustomer(2)">2 Monate</a></li>
      <li role="menuitem"><a class="dropdown-item" style="cursor: pointer;" testid="prolongThreeMonthsButton"
                             (click)="prolongCustomer(3)">3 Monate</a></li>
      <li role="menuitem"><a class="dropdown-item" style="cursor: pointer;" testid="prolongSixMonthsButton"
                             (click)="prolongCustomer(6)">6 Monate</a></li>
      <li role="menuitem"><a class="dropdown-item" style="cursor: pointer;" testid="prolongTwelveMonthsButton"
                             (click)="prolongCustomer(12)">12 Monate</a></li>
    </ul>
  </div>
  <button class="btn btn-danger mt-3 mt-lg-0 ml-lg-3" testid="invalidateCustomerButton" type="button" (click)="invalidateCustomer()"
          [disabled]="!customerData">Kunde deaktivieren
  </button>
  <button class="btn btn-danger mt-3 mt-lg-0 ml-lg-3" testid="editCustomerButton" type="button" (click)="editCustomer()"
          [disabled]="!customerData">Kunde bearbeiten
  </button>
  <button class="btn btn-danger mt-3 mt-lg-0 ml-lg-3" testid="deleteCustomerButton" type="button" (click)="deleteCustomerModal.show()"
          [disabled]="!customerData">Kunde löschen
  </button>
</div>
<div class="row mt-3">
  <div class="col">
    <tabset>
      <tab>
        <ng-template tabHeading>Allgemeine Daten</ng-template>
        <div class="row flex-wrap">
          <div class="col-lg-6 col-sm-12">
            <div class="card">
              <div class="card-header text-center h5">Hauptbezieher</div>
              <div class="card-body">
                <div class="row">
                  <div class="col font-weight-bold">Kundennummer</div>
                  <div testid="customerIdText" class="col">{{customerData?.id}}</div>
                </div>
                <div class="row">
                  <div class="col font-weight-bold">Name</div>
                  <div testid="nameText" class="col">{{customerData?.lastname}} {{customerData?.firstname}}</div>
                </div>
                <div class="row">
                  <div class="col font-weight-bold">Geburtsdatum (Alter)</div>
                  <div testid="birthDateAgeText" class="col">{{customerData?.birthDate | date : 'dd.MM.yyyy'}} ({{getAge(customerData?.birthDate)}})</div>
                </div>
                <div class="row">
                  <div class="col font-weight-bold">Nationalität</div>
                  <div testid="countryText" class="col">{{customerData?.country?.name}}</div>
                </div>
                <div class="row">
                  <div class="col font-weight-bold">Telefon</div>
                  <div testid="telephoneNumberText" class="col"
                       [innerHTML]="customerData?.telephoneNumber ? customerData?.telephoneNumber : '-'"></div>
                </div>
                <div class="row">
                  <div class="col font-weight-bold">E-Mail</div>
                  <div testid="emailText" class="col" [innerHTML]="customerData?.email ? customerData?.email : '-'">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col font-weight-bold">Adresse</div>
                  <div class="col">
                    <div class="row">
                      <div testid="addressLine1Text" class="col">{{customerData?.address ?
                        formatAddressLine1(customerData?.address) : ''}}</div>
                    </div>
                    <div class="row">
                      <div testid="addressLine2Text" class="col"
                           [innerHTML]="customerData?.address ? formatAddressLine2(customerData?.address) : ''">
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col font-weight-bold">Arbeitgeber</div>
                  <div testid="employerText" class="col">{{customerData?.employer}}</div>
                </div>
                <div class="row mt-2 align-items-end">
                  <div class="col font-weight-bold">
                    Einkommen (monatlich)
                  </div>
                  <div testid="incomeText" class="col">{{customerData?.income | currency}}</div>
                </div>
                <div class="row align-items-end">
                  <div class="col">
                    nachgewiesen bis:
                  </div>
                  <div testid="incomeDueText" class="col">{{customerData?.incomeDue | date : 'dd.MM.yyyy'}}</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col font-weight-bold">Angelegt</div>
                  <div testid="issuedInformation" class="col">am {{customerData?.issuedAt | date : 'dd.MM.yyyy'}}
                    von {{formatIssuer(customerData?.issuer)}}</div>
                </div>
                <div class="row">
                  <div class="col font-weight-bold"
                       [ngClass]="{'bg-success': customerData?.validUntil && isValid(), 'bg-danger': customerData?.validUntil && !isValid()}">
                    Gültig bis:
                  </div>
                  <div testid="validUntilText"
                       class="col"
                       [ngClass]="{'bg-success': customerData?.validUntil && isValid(), 'bg-danger': customerData?.validUntil && !isValid()}"
                       [innerHTML]="customerData?.validUntil | date : 'dd.MM.yyyy'"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="card">
              <div class="card-header text-center h5">Letzte Notiz</div>
              <div class="card-body">
                <div class="row">
                  <div class="col font-weight-bold" *ngIf="customerNotes?.length === 0">
                    <h6 testid="nonotes-label">Keine Notiz vorhanden</h6>
                  </div>
                  <div class="col" *ngIf="customerNotes?.length !== 0">
                    <div class="row">
                      <div class="col">
                        USER
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-people"></i> Weitere Personen ({{customerData?.additionalPersons.length}})</ng-template>
        <div>
          <div class="row">
            <div class="col">
              <div *ngIf="customerData?.additionalPersons.length === 0" class="mt-3">
                <h6 testid="nopersons-label">Keine Personen vorhanden</h6>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let addPerson of customerData?.additionalPersons; let i = index">
          <div class="row">
            <div class="col-sm-12 col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col font-weight-bold" [attr.testid]="'addperson-' + i + '-lastnameText'"
                         [innerHTML]="addPerson?.lastname"></div>
                    <div class="col font-weight-bold" [attr.testid]="'addperson-' + i + '-firstnameText'"
                         [innerHTML]="addPerson?.firstname"></div>
                  </div>
                  <div class="row">
                    <div class="col-6" [attr.testid]="'addperson-' + i + '-birthDateAgeText'">{{customerData?.birthDate | date : 'dd.MM.YYYY'}} ({{getAge(customerData?.birthDate)}})</div>
                    <div class="col-6" [attr.testid]="'addperson-' + i + '-countryText'">{{addPerson?.country.name}}</div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-6 font-weight-bold">Arbeitgeber</div>
                    <div class="col-6" [attr.testid]="'addperson-' + i + '-employerText'" *ngIf="addPerson?.employer !== null">{{addPerson?.employer}}</div>
                    <div class="col-6" [attr.testid]="'addperson-' + i + '-employerText'" *ngIf="addPerson?.employer === null">-</div>
                  </div>
                  <div class="row mt-1 align-items-end">
                    <div class="col-6 font-weight-bold">Einkommen (monatl.)</div>
                    <div class="col-6" [attr.testid]="'addperson-' + i + '-incomeText'" *ngIf="addPerson?.income">{{addPerson?.income | currency}}</div>
                    <div class="col-6" [attr.testid]="'addperson-' + i + '-incomeText'" *ngIf="!addPerson?.income">-</div>
                  </div>
                  <div class="row align-items-end">
                    <div class="col-6">nachgewiesen bis:</div>
                    <div class="col-6 align-bottom" [attr.testid]="'addperson-' + i + '-incomeDueText'" *ngIf="addPerson?.incomeDue">{{addPerson?.incomeDue | date : 'dd.MM.yyyy'}}</div>
                    <div class="col-6 align-bottom" [attr.testid]="'addperson-' + i + '-incomeDueText'" *ngIf="!addPerson?.incomeDue">-</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
<div testId="deletecustomer-modal" bsModal #deleteCustomerModal="bs-modal" class="modal modal-danger fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-m" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Kunde löschen</h4>
        <button type="button" class="close" (click)="deleteCustomerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col">Der Kunde wird unwiderruflich gelöscht.</div>
        </div>
        <div class="row mb-3">
          <div class="col font-weight-bold">Sicher?</div>
        </div>
      </div>
      <div class="modal-footer">
        <button testId="okButton" type="button" class="btn btn-primary" (click)="deleteCustomer()">Löschen
        </button>
        <button testId="cancelButton" type="button" class="btn btn-secondary" (click)="deleteCustomerModal.hide()">
          Abbrechen
        </button>
      </div>
    </div>
  </div>
</div>
