@if (formReady()) {
  <form [formGroup]="form" autocomplete="off">
    <div>
      <table class="min-w-full divide-y divide-gray-200 mt-4">
        <thead>
        <tr>
          <th scope="col"></th>
          @for (shop of selectedRouteData()?.shops ?? []; track shop.id) {
            <th scope="col" style="word-break: break-all;">{{ shop.name }}<br>{{ shop.number }}</th>
          }
        </tr>
        </thead>
        <tbody formArrayName="categories">
          @for (category of categories.controls; let categoryIndex = $index; track category) {
            <tr [formGroupName]="categoryIndex"
                [ngClass]="{'bg-red-100': !category.untouched && category.invalid, 'bg-green-100': !category.untouched && !category.invalid}">
              <td class="font-bold">{{ foodCategories()?.[categoryIndex]?.name }}</td>
              <ng-container formArrayName="shops">
                @for (shop of getShops(categoryIndex).controls; let shopIndex = $index; track shop) {
                  <td [formGroupName]="shopIndex">
                    <input type="number" class="form-control" min="0"
                           [attr.testid]="'category-' + foodCategories()?.[categoryIndex]?.id + '-shop-' + selectedRouteData()?.shops?.[shopIndex]?.id + '-input'"
                           formControlName="amount"
                           style="min-width: 3.6em; max-width: 5em;">
                  </td>
                }
              </ng-container>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </form>
  <hr>
  <button testid="save-items-button" matButton="filled" (click)="save()">Speichern</button>
}
