<form [formGroup]="form">
    <div class="row">
        <div class="col-lg">
            <label class="form-label">Familienname</label>
            <input testid="lastnameInput" type="text" formControlName="lastname" name="lastname" class="form-control"
                [ngClass]="{'is-invalid': lastname.invalid && (lastname.dirty || lastname.touched), 'is-valid': lastname.valid && (lastname.dirty || lastname.touched)}"
                autofocus>
            <div *ngIf="lastname.errors?.required && (lastname.dirty || lastname.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="lastname.errors?.maxlength && (lastname.dirty || lastname.touched)" class="invalid-feedback">
                Familienname zu lang (Limit: {{lastname.errors.maxlength.requiredLength}})
            </div>
        </div>
        <div class="col-lg">
            <label class="form-label">Vorname</label>
            <input testid="firstnameInput" type="text" formControlName="firstname" name="firstname" class="form-control"
                [ngClass]="{'is-invalid': firstname.invalid && (firstname.dirty || firstname.touched), 'is-valid': firstname.valid && (firstname.dirty || firstname.touched)}">
            <div *ngIf="firstname.errors?.required && (firstname.dirty || firstname.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="firstname.errors?.maxlength && (firstname.dirty || firstname.touched)" class="invalid-feedback">
                Vorname zu lang (Limit: {{firstname.errors.maxlength.requiredLength}})
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <label class="form-label">Geburtsdatum</label>
            <input testid="birthDateInput" type="date" formControlName="birthDate" name="birthDate" class="form-control"
                [ngClass]="{'is-invalid': birthDate.invalid && (birthDate.dirty || birthDate.touched), 'is-valid': birthDate.valid && (birthDate.dirty || birthDate.touched)}">
            <div *ngIf="birthDate.errors?.required && (birthDate.dirty || birthDate.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="birthDate.errors?.mindate && (birthDate.dirty || birthDate.touched)" class="invalid-feedback">
                Min. Datum: {{birthDate.errors.mindate.minimumDate}}
            </div>
            <div *ngIf="birthDate.errors?.maxdate && (birthDate.dirty || birthDate.touched)" class="invalid-feedback">
                Max. Datum: {{birthDate.errors.maxdate.maximumDate}}
            </div>

        </div>
        <div class="col-lg">
            <label class="form-label">Einkommen monatl.</label>
            <div class="input-group">
                <input testid="incomeInput" type="number" formControlName="income" name="income" class="form-control"
                    [ngClass]="{'is-invalid': income.invalid && (income.dirty || income.touched), 'is-valid': income.valid && (income.dirty || income.touched)}">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-euro"></i></span>
                </div>
            </div>
        </div>
    </div>
</form>