<form [formGroup]="customerForm">
    <div class="row">
        <button (click)="debug()">DEBUG</button>
        <div class="col-6">
            <label class="form-label">Familienname</label>
            <input type="text" formControlName="lastname" name="lastname" class="form-control"
                [ngClass]="{'is-invalid': lastname.invalid && (lastname.dirty || lastname.touched), 'is-valid': lastname.valid && (lastname.dirty || lastname.touched)}"
                autofocus>
            <div *ngIf="lastname.errors?.required && (lastname.dirty || lastname.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="lastname.errors?.maxlength && (lastname.dirty || lastname.touched)" class="invalid-feedback">
                Familienname zu lang (Limit: {{lastname.errors.maxlength.requiredLength}})
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Vorname</label>
            <input type="text" formControlName="firstname" name="firstname" class="form-control"
                [ngClass]="{'is-invalid': firstname.invalid && (firstname.dirty || firstname.touched), 'is-valid': firstname.valid && (firstname.dirty || firstname.touched)}">
            <div *ngIf="firstname.errors?.required && (firstname.dirty || firstname.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="firstname.errors?.maxlength && (firstname.dirty || firstname.touched)" class="invalid-feedback">
                Vorname zu lang (Limit: {{firstname.errors.maxlength.requiredLength}})
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <label class="form-label">Geburtsdatum</label>
            <input type="date" formControlName="birthDate" name="birthDate" class="form-control"
                [ngClass]="{'is-invalid': birthDate.invalid && (birthDate.dirty || birthDate.touched), 'is-valid': birthDate.valid && (birthDate.dirty || birthDate.touched)}">
            <div *ngIf="birthDate.errors?.required && (birthDate.dirty || birthDate.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Nationalität</label>
            <select formControlName="nationality" class="form-control"
                [ngClass]="{'is-invalid': nationality.invalid && (nationality.dirty || nationality.touched), 'is-valid': nationality.valid && (nationality.dirty || nationality.touched)}">
                <option *ngFor="let country of countries" [ngValue]="country">
                    {{country.name}}
                </option>
            </select>
            <div *ngIf="nationality.errors?.required && (nationality.dirty || nationality.touched)"
                class="invalid-feedback">
                Pflichtfeld
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <label class="form-label">Telefonnummer</label>
            <input type="number" formControlName="telephoneNumber" name="telephoneNumber" class="form-control"
                [ngClass]="{'is-invalid': telephoneNumber.invalid && (telephoneNumber.dirty || telephoneNumber.touched), 'is-valid': telephoneNumber.valid && (telephoneNumber.dirty || telephoneNumber.touched)}">
        </div>
        <div class="col-6">
            <label class="form-label">E-Mail</label>
            <input type="text" formControlName="email" name="email" class="form-control"
                [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched), 'is-valid': email.valid && (email.dirty || email.touched)}">
            <div *ngIf="email.errors?.required && (email.dirty || email.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="email.errors?.maxlength && (email.dirty || email.touched)" class="invalid-feedback">
                E-Mail zu lang (Limit: {{email.errors.maxlength.requiredLength}})
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col-12">
            <label class="form-label">Straße</label>
            <input type="text" formControlName="street" name="Straße" class="form-control"
                [ngClass]="{'is-invalid': street.invalid && (street.dirty || street.touched), 'is-valid': street.valid && (street.dirty || street.touched)}">
            <div *ngIf="street.errors?.required && (street.dirty || street.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="street.errors?.maxlength && (street.dirty || street.touched)" class="invalid-feedback">
                Straße zu lang (Limit: {{street.errors.maxlength.requiredLength}})
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4">
            <label class="form-label">Hausnummer</label>
            <input type="number" formControlName="houseNumber" name="houseNumber" class="form-control"
                [ngClass]="{'is-invalid': houseNumber.invalid && (houseNumber.dirty || houseNumber.touched), 'is-valid': houseNumber.valid && (houseNumber.dirty || houseNumber.touched)}">
            <div *ngIf="houseNumber.errors?.required && (houseNumber.dirty || houseNumber.touched)"
                class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="houseNumber.errors?.maxlength && (houseNumber.dirty || houseNumber.touched)"
                class="invalid-feedback">
                Hausnummer zu lang (Limit: {{houseNumber.errors.maxlength.requiredLength}})
            </div>
        </div>
        <div class="col-4">
            <label class="form-label">Stiege</label>
            <input type="number" formControlName="stairway" name="stairway" class="form-control"
                [ngClass]="{'is-invalid': stairway.invalid && (stairway.dirty || stairway.touched), 'is-valid': stairway.valid && (stairway.dirty || stairway.touched)}">
        </div>
        <div class="col-4">
            <label class="form-label">Tür</label>
            <input type="number" formControlName="door" name="door" class="form-control"
                [ngClass]="{'is-invalid': door.invalid && (door.dirty || door.touched), 'is-valid': door.valid && (door.dirty || door.touched)}">
            <div *ngIf="door.errors?.required && (door.dirty || door.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <label class="form-label">PLZ</label>
            <input type="number" formControlName="postalCode" name="postalCode" class="form-control"
                [ngClass]="{'is-invalid': postalCode.invalid && (postalCode.dirty || postalCode.touched), 'is-valid': postalCode.valid && (postalCode.dirty || postalCode.touched)}">
            <div *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)" class="invalid-feedback">
                Pflichtfeld / 4-stellig
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Ort</label>
            <input type="text" formControlName="city" name="city" class="form-control"
                [ngClass]="{'is-invalid': city.invalid && (city.dirty || city.touched), 'is-valid': city.valid && (city.dirty || city.touched)}">
            <div *ngIf="city.errors?.required && (city.dirty || city.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
            <div *ngIf="city.errors?.maxlength && (city.dirty || city.touched)" class="invalid-feedback">
                Ort zu lang (Limit: {{city.errors.maxlength.requiredLength}})
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col-12">
            <label class="form-label">Arbeitgeber</label>
            <input type="text" formControlName="employer" name="employer" class="form-control"
                [ngClass]="{'is-invalid': employer.invalid && (employer.dirty || employer.touched), 'is-valid': employer.valid && (employer.dirty || employer.touched)}">
            <div *ngIf="employer.errors?.required && (employer.dirty || employer.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <label class="form-label">Einkommen</label>
            <input type="number" formControlName="income" name="income" class="form-control"
                [ngClass]="{'is-invalid': income.invalid && (income.dirty || income.touched), 'is-valid': income.valid && (income.dirty || income.touched)}">
            <div *ngIf="income.errors?.required && (income.dirty || income.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Auszahlung bis</label>
            <input type="date" formControlName="incomeDue" name="incomeDue" class="form-control"
                [ngClass]="{'is-invalid': incomeDue.invalid && (incomeDue.dirty || incomeDue.touched), 'is-valid': incomeDue.valid && (incomeDue.dirty || incomeDue.touched)}">
            <div *ngIf="incomeDue.errors?.required && (incomeDue.dirty || incomeDue.touched)" class="invalid-feedback">
                Pflichtfeld
            </div>
        </div>
    </div>
</form>