<c-card>
  <c-card-body>
    <c-row>
      <c-col>
        <h3>Ticket-Monitor - Steuerung</h3>
      </c-col>
      <c-col class="text-end">
        <button testid="open-screen-button" cButton (click)="openScreenInNewTab()">Monitor öffnen</button>
      </c-col>
    </c-row>
    <c-row>
      <c-col>
        <hr>
      </c-col>
    </c-row>
    <form [formGroup]="form">
      <c-row>
        <c-col sm="3" class="d-flex flex-row">
          <label class="form-label">Ausgabestart:</label>
          <input testid="starttime-input" type="time" formControlName="startTime" class="form-control ms-3" (keydown.enter)="showStartTime()"
                 [ngClass]="{'is-invalid': startTime.invalid && (startTime.dirty || startTime.touched), 'is-valid': startTime.valid && (startTime.dirty || startTime.touched)}">
        </c-col>
        <c-col sm="1">
          <button testid="show-starttime-button" cButton class="mt-3 mt-sm-0" (click)="showStartTime()">Anzeigen</button>
        </c-col>
        <c-col sm="8" class="text-end">
          <button testid="show-currentticket-button" cButton class="mt-3 mt-sm-0" (click)="showCurrentTicket()">Aktuelles Ticket anzeigen</button>
          <button testid="show-nextticket-button" cButton class="ms-0 ms-sm-3 mt-3 mt-sm-0" (click)="showNextTicket()">Weiter zum nächsten Ticket</button>
        </c-col>
      </c-row>
    </form>
    <c-row>
      <c-col>
        <hr>
      </c-col>
    </c-row>
    <c-row class="text-center">
      <c-col>
        <h3>Live-Ansicht</h3>
      </c-col>
    </c-row>
    <c-row>
      <c-col class="mt-3 d-flex justify-content-center">
        <div style="height: 59vh; width: 59vw; font-size: 7pt;">
          <tafel-ticket-screen></tafel-ticket-screen>
        </div>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
