<c-card>
  <c-card-body>
    <c-row>
      <c-col>
        <h3>Ticket-Monitor - Steuerung</h3>
      </c-col>
      <c-col class="text-end">
        <button testid="open-screen-button" cButton (click)="openScreenInNewTab()">Monitor öffnen</button>
      </c-col>
    </c-row>
    <c-row>
      <c-col>
        <hr>
      </c-col>
    </c-row>
    <c-row>
      <c-col>
        <c-row>
          <form [formGroup]="form">
            <c-col>
              <c-row>
                <c-col sm="3">
                  <label class="form-label">Startzeit:</label>
                </c-col>
                <c-col sm="5">
                  <input testid="starttime-input" type="time" formControlName="startTime" class="form-control" (keydown.enter)="showStartTime()"
                         [ngClass]="{'is-invalid': startTime.invalid && (startTime.dirty || startTime.touched), 'is-valid': startTime.valid && (startTime.dirty || startTime.touched)}">
                </c-col>
                <c-col sm="3">
                  <button testid="show-starttime-button" cButton (click)="showStartTime()" [disabled]="isShowingStartTime()">Anzeigen</button>
                </c-col>
              </c-row>
              <c-row>
                <c-col>
                  <hr/>
                </c-col>
              </c-row>
              <c-row>
                <c-col sm="12" lg="3">
                  <label class="form-label me-3">Tickets:</label>
                </c-col>
                <c-col sm="12" lg="9">
                  <button testid="show-currentticket-button" cButton (click)="showCurrentTicket()" [disabled]="isShowingCurrentTicket()">Aktuelles Ticket</button>
                  <button testid="show-previousticket-button" class="ms-sm-0 ms-xl-3 mt-sm-3 mt-xl-0" cButton (click)="showPreviousTicket()" [disabled]="isShowingPreviousTicket()">Vorheriges Ticket</button>
                </c-col>
              </c-row>
              <c-row class="mt-5 text-center">
                <c-col sm="12">
                  <h4>Aktuelles Ticket</h4>
                </c-col>
              </c-row>
              <c-row class="mt-2 text-center">
                <c-col sm="12">
                  Unkostenbeitrag entrichtet ?
                </c-col>
              </c-row>
              <c-row class="mt-2 text-center justify-content-center">
                <c-col sm="12">
                  <button testid="costcontribution-paid-yes-button" cButton color="success" class="text-white" (click)="showNextTicket(true)" [disabled]="isShowingNextTicket()">Weiter (bezahlt)</button>
                </c-col>
                <c-col sm="12" class="mt-3">
                  <button testid="costcontribution-paid-no-button" cButton color="danger" class="text-white" (click)="showNextTicket(false)" [disabled]="isShowingNextTicket()">Weiter (nicht bezahlt)</button>
                </c-col>
              </c-row>
            </c-col>
          </form>
        </c-row>
      </c-col>
      <c-col>
        <c-row class="text-center">
          <c-col>
            <h3>Live-Ansicht</h3>
          </c-col>
        </c-row>
        <c-row>
          <c-col class="mt-3 d-flex justify-content-center">
            <div style="height: 30vh; width: 30vw; font-size: 2pt;">
              <tafel-ticket-screen></tafel-ticket-screen>
            </div>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
