<mat-card class="w-full">
  <mat-card-header>
    <mat-card-title>
      <h5 class="mb-0 mt-1">Schulstartpakete</h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-wrap items-center gap-4 mb-4">
      <div class="flex items-center gap-2">
        <label class="form-label mb-0">Alter von</label>
        <input testid="schoolStarterPackageAgeMinInput" type="number" class="form-control" style="max-width: 90px"
               [ngModel]="schoolStarterPackageAgeMin()"
               (ngModelChange)="schoolStarterPackageAgeMin.set($event)">
      </div>
      <div class="flex items-center gap-2">
        <label class="form-label mb-0">Alter bis</label>
        <input testid="schoolStarterPackageAgeMaxInput" type="number" class="form-control" style="max-width: 90px"
               [ngModel]="schoolStarterPackageAgeMax()"
               (ngModelChange)="schoolStarterPackageAgeMax.set($event)">
      </div>
    </div>
    <button matButton="filled" (click)="generateSchoolStarterPackageCsv()">
      <fa-icon [icon]="faSave"></fa-icon>&nbsp;CSV-Export
    </button>
    @if (schoolStarterPackageData()?.length) {
      <table mat-table [dataSource]="schoolStarterPackageData()!" class="w-full mt-4"
             testid="school-starter-package-table">
        <ng-container matColumnDef="householdId">
          <th mat-header-cell *matHeaderCellDef>Haushalt</th>
          <td mat-cell *matCellDef="let entry">{{ entry.householdId }}</td>
        </ng-container>
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef>Vorname</th>
          <td mat-cell *matCellDef="let entry">{{ entry.firstname }}</td>
        </ng-container>
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef>Nachname</th>
          <td mat-cell *matCellDef="let entry">{{ entry.lastname }}</td>
        </ng-container>
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef>Alter</th>
          <td mat-cell *matCellDef="let entry">{{ entry.age }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="schoolStarterPackageColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: schoolStarterPackageColumns;"></tr>
      </table>
    } @else if (schoolStarterPackageData()) {
      <div class="mt-4">Keine Einträge gefunden.</div>
    }
  </mat-card-content>
</mat-card>
