<div class="w-full max-w-md mx-auto">
  <mat-card class="shadow-sm">
    <mat-card-header>
      <mat-card-title>
        Passwort ändern
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="pt-6">
      <tafel-passwordchange-form></tafel-passwordchange-form>
    </mat-card-content>

    <mat-card-actions align="start">
      <button
        matButton="filled"
        testid="saveButton"
        (click)="changePassword()"
        [disabled]="saveDisabled()"
      >
        Speichern
      </button>
      <button
        matButton="outlined"
        type="button"
        testid="cancelButton"
        (click)="cancel()"
      >
        Abbrechen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
