<c-pagination [align]="align" [size]="size" style="cursor: pointer;">
  <li cPageItem [disabled]="currentPage <= 2" (click)="selectFirstPage()">
    <a cPageLink><span aria-hidden="true">&lt;&lt;</span></a>
  </li>
  <li cPageItem [disabled]="currentPage === 1" (click)="selectPreviousPage()">
    <a cPageLink><span aria-hidden="true">&lt;</span></a>
  </li>
  <li cPageItem *ngFor="let pageIdx of pages; let i = index" [active]="i === currentPage - 1" (click)="selectPage(i)">
    <a cPageLink>{{pageIdx}}</a>
  </li>
  <li cPageItem [disabled]="currentPage == maxPage" (click)="selectNextPage()">
    <a cPageLink><span aria-hidden="true">&gt;</span></a>
  </li>
  <li cPageItem [disabled]="currentPage >= (maxPage - 1)" (click)="selectLastPage()">
    <a cPageLink><span aria-hidden="true">&gt;&gt;</span></a>
  </li>
</c-pagination>
