<c-pagination [align]="align" [size]="size" style="cursor: pointer;">
  <li cPageItem>
    <a cPageLink [routerLink]><span aria-hidden="true">&lt;&lt;</span></a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]><span aria-hidden="true">&lt;</span></a>
  </li>
  <li cPageItem *ngFor="let pageIdx of pages; let i = index" [active]="i === currentPage - 1" (click)="emitPageChange(i + 1)">
    <a cPageLink [routerLink]>{{pageIdx}}</a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]><span aria-hidden="true">&gt;</span></a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]><span aria-hidden="true">&gt;&gt;</span></a>
  </li>
</c-pagination>
