<c-pagination [align]="align" [size]="size">
  <li cPageItem>
    <a cPageLink [routerLink]><span aria-hidden="true">&lt;&lt;</span></a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]><span aria-hidden="true">&lt;</span></a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]>1</a>
  </li>
  <li cPageItem [active]="true">
    <a cPageLink [routerLink]>2</a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]>3</a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]>4</a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]>5</a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]><span aria-hidden="true">&gt;</span></a>
  </li>
  <li cPageItem>
    <a cPageLink [routerLink]><span aria-hidden="true">&gt;&gt;</span></a>
  </li>
</c-pagination>
