<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" class="border-bottom px-4">
    <button
      [cSidebarToggle]="sidebarId"
      cHeaderToggler
      cButton
      toggle="visible"
      style="margin-inline-start: -14px;"
      aria-label="Toggle sidebar navigation"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown"/>
    </c-header-nav>
  </c-container>
</ng-container>
<!--</c-header>-->
<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0" aria-label="Open user menu">
      <c-avatar
        shape="rounded-1"
        [size]="'md'"
        src="./assets/img/user/user.svg"
        textColor="primary"
        alt="Benutzer-Avatar"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2 rounded-top">Benutzer</h6>
      </li>
      <li>
        <a [routerLink]="['/passwortaendern']" cDropdownItem testid="usermenu-changepassword">
          <fa-icon [icon]="faKey"></fa-icon> Passwort ändern
        </a>
      </li>
      <li>
        <hr cDropdownDivider/>
      </li>
      <li>
        <a [routerLink]="[]" cDropdownItem testid="usermenu-logout" (click)="logout()">
          <fa-icon [icon]="faLock"></fa-icon> Abmelden
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>
