<c-card>
  <c-card-header>
    <h5>Warenerfassung</h5>
  </c-card-header>
  <c-card-body>
    <c-row class="flex align-items-center">
      <c-col class="col-3 col-md-1">Route</c-col>
      <c-col class="col-9 col-md-4">
        <c-input-group>
          <select testid="routeInput" class="form-control" cSelect [ngModel]="selectedRoute"
                  (ngModelChange)="onSelectedRouteChange($event)">
            <option [ngValue]="undefined">Bitte auswählen</option>
            @for (route of routeList().routes; track route) {
              <option [ngValue]="route">{{ route.name }}</option>
            }
          </select>
          <span cInputGroupText>
              <fa-icon [icon]="faRoute"></fa-icon>
            </span>
        </c-input-group>
      </c-col>
    </c-row>
    @if (selectedRouteData) {
      <hr>
      <c-tabs [activeItemKey]="0">
        <c-tabs-list variant="underline-border">
          <button cTab [itemKey]="0" testid="select-route-tab">
            Route
          </button>
          <button cTab [itemKey]="1" testid="select-items-tab">
            Waren
          </button>
        </c-tabs-list>
        <c-tabs-content>
          <c-tab-panel [itemKey]="0" class="p-3">
            <tafel-food-collection-recording-basedata [carList]="carList()"
                                                      [selectedRouteData]="selectedRouteData">
            </tafel-food-collection-recording-basedata>
          </c-tab-panel>
          <c-tab-panel [itemKey]="1">
            <div class="d-none d-md-block">
              <tafel-food-collection-recording-items-desktop [foodCategories]="foodCategories()"
                                                             [selectedRouteData]="selectedRouteData"></tafel-food-collection-recording-items-desktop>
            </div>
            <div class="d-block d-md-none">
              <tafel-food-collection-recording-items-responsive [foodCategories]="foodCategories()"
                                                                [selectedRouteData]="selectedRouteData"></tafel-food-collection-recording-items-responsive>
            </div>
          </c-tab-panel>
        </c-tabs-content>
      </c-tabs>
    }
  </c-card-body>
</c-card>
