<c-card>
  <c-card-header>
    <h5>Warenerfassung</h5>
  </c-card-header>
  <c-card-body>
    <c-row class="flex align-items-center">
      <c-col class="col-3 col-md-1">Route</c-col>
      <c-col class="col-9 col-md-4">
        <c-input-group>
          <select testid="routeInput" class="form-control" cSelect [ngModel]="selectedRoute"
                  (ngModelChange)="onSelectedRouteChange($event)">
            <option [ngValue]="undefined">Bitte auswählen</option>
            @for (route of routeList().routes; track route) {
              <option [ngValue]="route">{{ route.name }}</option>
            }
          </select>
          <span cInputGroupText>
              <fa-icon [icon]="faRoute"></fa-icon>
            </span>
        </c-input-group>
      </c-col>
    </c-row>
    @if (selectedRouteData()) {
      <hr>
      <mat-tab-group animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <span testid="select-route-tab">Route</span>
          </ng-template>
          <div class="p-3">
            <tafel-food-collection-recording-basedata [carList]="carList()"
                                                      [selectedRouteData]="selectedRouteData()">
            </tafel-food-collection-recording-basedata>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span testid="select-items-tab">Waren</span>
          </ng-template>
            <div class="d-none d-md-block">
              <tafel-food-collection-recording-items-desktop [foodCategories]="foodCategories()"
                                                             [selectedRouteData]="selectedRouteData()"></tafel-food-collection-recording-items-desktop>
            </div>
            <div class="d-block d-md-none">
              <tafel-food-collection-recording-items-responsive [foodCategories]="foodCategories()"
                                                                [selectedRouteData]="selectedRouteData()"></tafel-food-collection-recording-items-responsive>
            </div>
        </mat-tab>
      </mat-tab-group>
    }
  </c-card-body>
</c-card>
