<c-card class="h-100" color="primary">
  <c-card-body>
    <c-row>
      <c-col size="12">
        <h4 class="card-title text-white">Erfasste Menge</h4>
      </c-col>
    </c-row>
    <c-row>
      <c-col>
        @if (amount() !== null) {
          <div testid="food-amount-total" class="text-white text-end" style="font-size: 50pt;">{{ amount() + ' kg' }}</div>
        } @else {
          <div testid="food-amount-total" class="text-white text-end" style="font-size: 50pt;">-</div>
        }
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
