<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
  <div class="md:col-span-3">
    <mat-card>
      <mat-card-header>
        <h5>Statistik</h5>
      </mat-card-header>
      <mat-card-content>
        <div class="font-bold mb-2">Zeitraum</div>
        <mat-button-toggle-group testid="dateRangeModeInput" [value]="selectedMode()"
                                  (change)="onModeChange($event.value)">
          <mat-button-toggle value="year">Jahr</mat-button-toggle>
          <mat-button-toggle value="currentMonth">Aktuelles Monat</mat-button-toggle>
          <mat-button-toggle value="distribution">Ausgabe</mat-button-toggle>
          <mat-button-toggle value="custom">Benutzerdefiniert</mat-button-toggle>
        </mat-button-toggle-group>

        <div class="grid grid-cols-1 sm:grid-cols-7 gap-2 items-center mt-4">
          @switch (selectedMode()) {
            @case ('year') {
              <div class="sm:col-span-2">
                <label class="form-label">Jahr</label>
              </div>
              <div class="sm:col-span-5">
                <select testid="yearInput" class="form-control" [ngModel]="selectedYear()"
                        (ngModelChange)="onYearSelected($event)">
                  @for (year of yearOptions(); track year) {
                    <option [ngValue]="year">{{ year }}</option>
                  }
                </select>
              </div>
            }
            @case ('distribution') {
              <div class="sm:col-span-2">
                <label class="form-label">Ausgabe</label>
              </div>
              <div class="sm:col-span-5">
                <select testid="distributionDateInput" class="form-control"
                        [ngModel]="selectedDistribution()"
                        (ngModelChange)="onDistributionSelected($event)">
                  <option [ngValue]="undefined"></option>
                  @for (distribution of settings()?.distributions; track distribution.startDate) {
                    <option [ngValue]="distribution">{{ distribution.startDate | date : 'dd.MM.yyyy' }}</option>
                  }
                </select>
              </div>
            }
            @case ('custom') {
              <div class="sm:col-span-2">
                <label class="form-label">von</label>
              </div>
              <div class="sm:col-span-5">
                <input testid="dataRangeFromInput" type="date" class="form-control" [(ngModel)]="dateRangeFrom">
              </div>
              <div class="sm:col-span-2 mt-2 sm:mt-0">
                <label class="form-label">bis</label>
              </div>
              <div class="sm:col-span-5 mt-2 sm:mt-0">
                <input testid="dataRangeToInput" type="date" class="form-control" [(ngModel)]="dateRangeTo">
              </div>
            }
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mt-4 md:mt-0">
    <mat-card class="h-full">
      <mat-card-header>
        <h5>Export</h5>
      </mat-card-header>
      <mat-card-content>
        <button matButton="filled" (click)="generateCsv()">
          <fa-icon [icon]="faSave"></fa-icon>&nbsp;CSV-Export
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
@if (statisticsData()) {
  <mat-card class="mt-4">
    <mat-card-header>
      <h5>Zeitraum: {{ dateRangeFrom | date: 'dd.MM.yyyy' }} - {{ dateRangeTo | date: 'dd.MM.yyyy' }}</h5>
    </mat-card-header>
    <mat-card-content>
      <div>
        <h5>Kunden und Personen</h5>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
        <div>
          <tafel-statistics-panel [data]="statisticsData()!.beneficiaryCustomers"></tafel-statistics-panel>
        </div>
        <div class="mt-2 md:mt-0">
          <tafel-statistics-panel [data]="statisticsData()!.beneficiaryPersons"></tafel-statistics-panel>
        </div>
        <div class="mt-2 md:mt-0">
          <tafel-statistics-panel
            [data]="statisticsData()!.beneficiaryCustomersWithChildren"></tafel-statistics-panel>
        </div>
        <div class="mt-2 md:mt-0">
          <tafel-statistics-panel [data]="statisticsData()!.singleParentHouseholds"></tafel-statistics-panel>
        </div>
      </div>
      <div class="mt-4">
        <h5>Notschlafstellen</h5>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
        <div>
          <tafel-statistics-panel [data]="statisticsData()!.sheltersCount"></tafel-statistics-panel>
        </div>
        <div class="mt-2 md:mt-0">
          <tafel-statistics-panel [data]="statisticsData()!.sheltersAverage"></tafel-statistics-panel>
        </div>
        <div class="mt-2 md:mt-0">
          <tafel-statistics-panel [data]="statisticsData()!.sheltersPersonsCount"></tafel-statistics-panel>
        </div>
      </div>
      <div class="mt-4">
        <h5>Transport- / Logistik</h5>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
        <div>
          <tafel-statistics-panel [data]="statisticsData()!.shopsCount"></tafel-statistics-panel>
        </div>
        <div class="mt-2 md:mt-0">
          <tafel-statistics-panel [data]="statisticsData()!.shopItemsTotal"></tafel-statistics-panel>
        </div>
        <div class="mt-2 md:mt-0">
          <tafel-statistics-panel [data]="statisticsData()!.shopItemsAverage"></tafel-statistics-panel>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
}
