<mat-icon [svgIcon]="icon" class="tafel-snackbar-icon" aria-hidden="true"></mat-icon>
<div class="tafel-snackbar-text">
  @if (data.title) {
    <div class="toast-title">{{ data.title }}</div>
  }
  <div class="toast-message">{{ data.message }}</div>
</div>
@if (data.action) {
  <button matButton class="tafel-snackbar-action" testid="toast-action-button" (click)="dismissWithAction()">
    {{ data.action }}
  </button>
}
<button mat-icon-button class="tafel-snackbar-close" (click)="dismiss()" aria-label="Schließen">
  <mat-icon svgIcon="close"></mat-icon>
</button>
