<div testid="errorMessage" *ngIf="errorMessage" class="alert alert-danger mb-3">
  <div testid="errorMessageContent">{{errorMessage}}</div>
</div>
<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <h4>Kunden-Annahme</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 align-self-center">
            <label class="form-label">Scanner</label>
          </div>
          <div class="col-sm-3 align-self-center">
            <select testid="scannerIdInput" class="form-control" [(ngModel)]="selectedScannerId">
              <option [ngValue]="undefined">Nicht aktiv</option>
              <option *ngFor="let scannerId of scannerIds" [ngValue]="scannerId">Nr. {{scannerId}}</option>
            </select>
          </div>
          <div class="col-sm-3 mt-2 mt-md-0 align-self-center">
            <div class="badge font-lg" testid="state-server"
                 [ngClass]="{'badge-success': scannerReadyState, 'badge-danger': !scannerReadyState}">
              {{scannerReadyState ? 'AKTIV' : 'INAKTIV'}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label class="form-label">Kundennummer</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 mb-3">
            <input testid="customerIdText" type="number" name="customerIdInput" [(ngModel)]="customerId"
                   class="form-control" (keydown.enter)="searchForCustomerId()"
                   cdkTrapFocusAutoCapture="focusCustomerIdInput" cdkTrapFocus="focusCustomerIdInput">
          </div>
          <div class="col-sm-3">
            <button testid="showCustomerButton" type="button" class="btn btn-primary"
                    [disabled]="!customerId" (click)="searchForCustomerId()">Anzeigen
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="customer !== undefined" testid="customerDetailPanel">
      <div class="card-body">
        <div class="row">
          <div class="col mb-2">
            <h4>
              <div class="badge font-lg"
                   [ngClass]="{'badge-danger': customerState == 0, 'badge-warning': customerState == 1, 'badge-success': customerState == 2}">
                {{customerStateText}}
              </div>
              {{customer.id}} - {{customer.lastname}} {{customer.firstname}}
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Gültig bis:
          </div>
          <div class="col">
            {{customer.validUntil | date : 'dd.MM.yyyy'}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            Adresse:
          </div>
          <div class="col">
            {{formatAddress()}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Personen im Haushalt (insgesamt):
          </div>
          <div class="col">
            {{customer.additionalPersons.length + 1}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Personen unter 3 Jahren:
          </div>
          <div class="col">
            {{getInfantCount()}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header fw-bold">
                Aktuellste Notiz
              </div>
              <div class="card-body">
                <div class="fw-bold" *ngIf="customerNotes?.length === 0">
                  <h6 testid="nonotes-label">Keine Notiz vorhanden</h6>
                </div>
                <div *ngIf="customerNotes && customerNotes?.length !== 0">
                  <div class="row mb-2">
                    <div class="col fw-bold" testid="note-title">{{customerNotes[0].timestamp | date : 'dd.MM.yyyy HH:mm' }}&nbsp;{{customerNotes[0].author}}</div>
                  </div>
                  <div class="row">
                    <div class="col" testid="note-text" [innerHtml]="customerNotes[0].note"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form #ticketForm="ngForm">
          <div *ngIf="customerState !== 0">
            <hr>
            <div class="row">
              <div class="col-2 fw-bold">Ticket-Nummer: *</div>
              <div class="col-5 align-middle">
                  <input testid="ticketNumberText" type="number" name="ticketNumberText" [(ngModel)]="ticketNumber"
                         class="form-control" required (keydown.enter)="assignCustomer()"
                         [cdkTrapFocusAutoCapture]="focusTicketNumberInput" [cdkTrapFocus]="focusTicketNumberInput">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="row">
          <button [disabled]="customerState === 0 || !ticketForm.valid" testid="assignCustomerButton" id="assignCustomerButton" type="button" class="btn btn-success me-3" (click)="assignCustomer()">Annehmen</button>
          <button testid="resetButton" id="resetButton" type="button" class="btn btn-primary" (click)="reset()"
                  [cdkTrapFocusAutoCapture]="focusResetButton" [cdkTrapFocus]="focusResetButton">Zurücksetzen</button>
        </div>
      </div>
    </div>
  </div>
</div>
