<tafel-dialog title="Notschlafstellen auswählen">
  <div tafel-dialog-content>
    <form [formGroup]="form" autocomplete="off">
      @if (data.sheltersList && data.sheltersList.length > 0) {
        <div formArrayName="selectedShelters">
          @for (shelter of data.sheltersList; track shelter.id; let idx = $index) {
            @if (idx > 0) {
              <hr/>
            }
            <div class="d-flex flex-row align-items-start gap-2">
              <div class="flex-shrink-0">
                <c-form-check switch="true" sizing="xl">
                  <input
                    type="checkbox"
                    [formControl]="selectedShelters.controls[idx]"
                    [id]="'shelter-' + shelter.id"
                    [attr.testid]="'selectable-shelter-row-' + idx"
                    cFormCheckInput
                  >
                </c-form-check>
              </div>
              <div class="flex-grow-1 text-start text-wrap">
                <strong>{{ shelter.name }}</strong>
                <br>
                <label cFormCheckLabel [for]="'shelter-' + shelter.id">
                  {{ formatStreet(shelter) }}
                  <br>
                  {{ shelter.addressPostalCode }} {{ shelter.addressCity }}
                </label>
              </div>
              <div class="fs-5">{{ shelter.personsCount }} Personen</div>
            </div>
          }
        </div>
      }
    </form>
  </div>
  <div tafel-dialog-actions>
    <button testid="selectshelters-save-button" cButton (click)="save()" [disabled]="form.invalid">Speichern</button>
    <button testid="selectshelters-cancel-button" cButton color="secondary" (click)="dialogRef.close()">Abbrechen
    </button>
  </div>
</tafel-dialog>
