<tafel-dialog [testId]="data.testId" type="info" title="Mitarbeiter nicht gefunden">
  <div tafel-dialog-content>
    <form [formGroup]="createEmployeeForm" autocomplete="off">
      <p class="mb-2"><strong>Neuen Mitarbeiter anlegen</strong></p>
      <div class="mb-2">
        <label class="form-label">Personalnummer *</label>
        <c-input-group>
          <input [attr.testid]="data.testIdPrefix + 'personnelnumber-input'" type="text"
                 formControlName="personnelNumber"
                 class="form-control"
                 [ngClass]="{'is-invalid': personnelNumber.invalid && (personnelNumber.dirty || personnelNumber.touched), 'is-valid': personnelNumber.valid && (personnelNumber.dirty || personnelNumber.touched)}">
          @if (personnelNumber.errors?.required && (personnelNumber.dirty || personnelNumber.touched)) {
            <div class="invalid-feedback">Pflichtfeld</div>
          }
          @if (personnelNumber.errors?.maxlength && (personnelNumber.dirty || personnelNumber.touched)) {
            <div class="invalid-feedback">
              Personalnummer zu lang (Limit: {{ personnelNumber.errors.maxlength.requiredLength }})
            </div>
          }
        </c-input-group>
      </div>
      <div class="mb-2">
        <label class="form-label">Vorname *</label>
        <c-input-group>
          <input [attr.testid]="data.testIdPrefix + 'firstname-input'" type="text" formControlName="firstname"
                 class="form-control"
                 [ngClass]="{'is-invalid': firstname.invalid && (firstname.dirty || firstname.touched), 'is-valid': firstname.valid && (firstname.dirty || firstname.touched)}">
          @if (firstname.errors?.required && (firstname.dirty || firstname.touched)) {
            <div class="invalid-feedback">Pflichtfeld</div>
          }
          @if (firstname.errors?.maxlength && (firstname.dirty || firstname.touched)) {
            <div class="invalid-feedback">
              Vorname zu lang (Limit: {{ firstname.errors.maxlength.requiredLength }})
            </div>
          }
        </c-input-group>
      </div>
      <div class="mb-2">
        <label class="form-label">Nachname *</label>
        <c-input-group>
          <input [attr.testid]="data.testIdPrefix + 'lastname-input'" type="text" formControlName="lastname"
                 class="form-control"
                 [ngClass]="{'is-invalid': lastname.invalid && (lastname.dirty || lastname.touched), 'is-valid': lastname.valid && (lastname.dirty || lastname.touched)}">
          @if (lastname.errors?.required && (lastname.dirty || lastname.touched)) {
            <div class="invalid-feedback">Pflichtfeld</div>
          }
          @if (lastname.errors?.maxlength && (lastname.dirty || lastname.touched)) {
            <div class="invalid-feedback">
              Nachname zu lang (Limit: {{ lastname.errors.maxlength.requiredLength }})
            </div>
          }
        </c-input-group>
      </div>
    </form>
  </div>
  <div tafel-dialog-actions>
    <button [attr.testid]="data.testIdPrefix + 'save-button'" cButton (click)="saveNewEmployee()"
            [disabled]="createEmployeeForm.invalid">Speichern
    </button>
    <button testid="cancel-button" cButton color="secondary" (click)="dialogRef.close()">Abbrechen</button>
  </div>
</tafel-dialog>
