<tafel-dialog [testId]="data.testId" type="info" title="Mitarbeiter auswählen">
  <div tafel-dialog-content>
    <mat-paginator class="tafel-paginator-center" [length]="employeeSearchResponse().totalCount" [pageSize]="employeeSearchResponse().pageSize"
                   [pageIndex]="employeeSearchResponse().currentPage - 1" [hidePageSize]="true" [showFirstLastButtons]="true"
                   (page)="triggerSearch($event.pageIndex + 1)"></mat-paginator>
    @for (employee of employeeSearchResponse().items; track employee.id; let i = $index) {
      <mat-card appearance="outlined" class="mb-2">
        <mat-card-content>
          <div [attr.testid]="'select-employee-row-' + i" class="flex justify-between items-center">
            <span>{{ employee.personnelNumber }} {{ employee.firstname }} {{ employee.lastname }}</span>
            <button matButton="outlined" (click)="selectEmployee(employee)"
                    [attr.testid]="'select-employee-button-' + i">
              <fa-icon [icon]="faHandPointer"></fa-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
  <div tafel-dialog-actions>
    <button testid="cancel-button" matButton="outlined" (click)="dialogRef.close()">Abbrechen</button>
  </div>
</tafel-dialog>
