<tafel-dialog testId="employee-delete-confirm-dialog" type="warning" title="Mitarbeiter löschen">
  <div tafel-dialog-content>
    <div class="mb-2" testid="message">
      Der Mitarbeiter <span class="font-bold">{{ data.employeeName }}</span> wird endgültig gelöscht.
      Verweise auf ihn, etwa als Fahrer oder Beifahrer in bereits erfassten Warenerfassungen, werden
      entfernt und zeigen stattdessen "Mitarbeiter gelöscht" an.
    </div>
    <div class="font-bold mt-6">Sicher?</div>
  </div>
  <div tafel-dialog-actions>
    <button testid="okButton" matButton="filled" (click)="dialogRef.close(true)">Löschen</button>
    <button testid="cancelButton" matButton="outlined" (click)="dialogRef.close()">Abbrechen</button>
  </div>
</tafel-dialog>
