<mat-card class="h-full mat-card-primary" testid="recorded-route-names-panel">
  <mat-card-header>
    <mat-card-title>
      <h4 class="text-white">Erfasste Routen</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="text-right">
    @if (recordedRouteNames() && recordedRouteNames()!.length > 0) {
      <div testid="recorded-route-names" class="text-white text-lg">{{ recordedRouteNames()!.join(', ') }}</div>
    } @else {
      <div testid="recorded-route-names" class="text-white text-lg">-</div>
    }
  </mat-card-content>
</mat-card>
