// Here you can add other styles

.main-container {
  margin-left: 0;
  margin-right: 0;
}

// custom sidebar-styles
.sidebar {
  border-right: none !important;
}

.sidebar-header {
  background-color: white;
}

// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

// custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

// MatDialog header color classes
.dialog-header-warning,
.dialog-header-info,
.dialog-header-danger,
.dialog-header-success {
  padding: 0.5rem;
}

.dialog-header-warning {
  background-color: var(--cui-warning, #f9b115);
}

.dialog-header-info {
  background-color: var(--cui-info, #39f);
}

.dialog-header-danger {
  background-color: var(--cui-danger, #e55353);
}

.dialog-header-success {
  background-color: var(--cui-success, #2eb85c);
}

// Remove border-radius from Material dialog surface
.mat-mdc-dialog-surface {
  border-radius: 8px !important;
}

.mat-mdc-dialog-title {
  padding: 0 !important;
  padding-left: 0.3rem !important;
}

.mat-mdc-dialog-content {
  padding: 1rem !important;
  font-size: 1rem !important;
}
