// scrollbar tinkering

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--tafel-scrollbar-thumb-hover) transparent;
  }
}

::-webkit-scrollbar-track {
  background: var(--tafel-surface);
  border-radius: 100vw;
  margin-block: .2em;
}

::-webkit-scrollbar-thumb {
  background: var(--tafel-scrollbar-thumb);
  border: .15em solid var(--tafel-surface);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tafel-scrollbar-thumb-hover);
}
