/* You can add global styles to this file, and also import other style files */

// NOTE: @import is deprecated in Dart Sass and will be removed in Dart Sass 3.0.0
// However, we must continue using @import until CoreUI migrates to @use/@forward
// See: https://sass-lang.com/documentation/at-rules/import
// Migration blocked by: @coreui/coreui, @coreui/chartjs using @import internally

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// TODO: Replace with @use once CoreUI supports it
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
// TODO: Replace with @use once CoreUI supports it
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";
