<c-card>
  <c-card-header class="fs-4 fw-bold">Kunden-Duplikate</c-card-header>
  <c-card-body>
    <tafel-pagination class="d-none d-sm-block" align="end" [paginationData]="paginationData"
                      (pageChanged)="getDuplicates($event)"></tafel-pagination>
    <tafel-pagination class="d-block d-sm-none" align="center" size="sm" [paginationData]="paginationData"
                      (pageChanged)="getDuplicates($event)"></tafel-pagination>

    <div class="d-flex flex-column gap-3">
      <c-row *ngFor="let item of this.customerDuplicatesData.items">
        <c-col>
          <c-card>
            <c-card-header class="fw-bold">
              {{item.customer.id + ' - ' + item.customer.lastname + ' ' + item.customer.firstname}}
            </c-card-header>
            <c-card-body>
              <c-row>
                <c-col class="fw-bold">Geburtsdatum:</c-col>
                <c-col>
                  {{item.customer.birthDate | date : 'dd.MM.yyyy'}}
                </c-col>
              </c-row>
              <c-row>
                <c-col class="fw-bold">Adresse:</c-col>
                <c-col>
                  {{formatAddress(item.customer.address)}}
                </c-col>
              </c-row>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col>
          SIMILAR
        </c-col>
      </c-row>
    </div>

    <tafel-pagination class="d-none d-sm-block mt-3" align="end" [paginationData]="paginationData"
                      (pageChanged)="getDuplicates($event)"></tafel-pagination>
    <tafel-pagination class="d-block d-sm-none mt-3" align="center" size="sm" [paginationData]="paginationData"
                      (pageChanged)="getDuplicates($event)"></tafel-pagination>
  </c-card-body>
</c-card>
