<c-card>
  <c-card-header class="fs-4 fw-bold">Kunden-Duplikate</c-card-header>
  <c-card-body>
    <c-row class="mb-3">
      <c-col class="d-flex flex-column gap-2">
        <c-row>
          <c-col>
            <h6>Legende:</h6>
          </c-col>
        </c-row>
        <c-row>
          <c-col>
            <button cButton color="success" class="me-2" size="sm">
              <fa-icon [icon]="faCheck" inverse="true"></fa-icon>
            </button>
            <strong>Kunde übernehmen:</strong> Der ausgewählte Kunde bleibt als einziger Kunde bestehen. Andere
            hier angezeigte Kunden werden gelöscht!
          </c-col>
        </c-row>
        <c-row>
          <c-col>
            <button cButton class="me-2" size="sm">
              <fa-icon [icon]="faMagnifyingGlass" inverse="true"></fa-icon>
            </button>
            <strong>Kunden-Details ansehen:</strong> Wechsel zur Detail-Ansicht des ausgewählten Kunden.
          </c-col>
        </c-row>
        <c-row>
          <c-col>
            <button cButton color="danger" class="text-white me-2" size="sm">
              <fa-icon [icon]="faTrashCan" inverse="true"></fa-icon>
            </button>
            <strong>Kunden löschen:</strong> Nur der ausgewählte Kunde wird gelöscht. Andere hier angezeigte Kunden bleiben bestehen.
          </c-col>
        </c-row>
        <c-row class="mt-2">
          <c-col>
            <strong>Achtung: Das Löschen oder Zusammenführen geschieht sofort und es öffnet sich kein Bestätigungsdialog (um eine schnellere Abarbeitung zu ermöglichen).</strong>
          </c-col>
        </c-row>
      </c-col>
    </c-row>

    <hr/>

    <c-row *ngIf="customerDuplicatesData.items.length === 0">
      <h4 class="fw-bold">Keine Duplikate gefunden!</h4>
    </c-row>

    <div  *ngIf="customerDuplicatesData.items.length > 0">
      <tafel-pagination class="d-none d-sm-block" align="end" [paginationData]="paginationData"
                        (pageChanged)="getDuplicates($event)"></tafel-pagination>
      <tafel-pagination class="d-block d-sm-none" align="center" size="sm" [paginationData]="paginationData"
                        (pageChanged)="getDuplicates($event)"></tafel-pagination>

      <div class="d-grid gap-3">
        <c-row *ngFor="let item of this.customerDuplicatesData.items; trackBy: trackByDuplicateItemId">
          <c-col>
            <c-card class="mb-3 mb-sm-0">
              <c-card-header class="fw-bold">
                <c-row class="d-flex flex-column flex-sm-row">
                  <c-col class="align-self-center">
                    {{item.customer.id + ' - ' + item.customer.lastname + ' ' + item.customer.firstname}}
                  </c-col>
                  <c-col class="text-end pt-2 pt-sm-0">
                    <button cButton color="success" class="me-2" (click)="mergeCustomers(item.customer)">
                      <fa-icon [icon]="faCheck" inverse="true"></fa-icon>
                    </button>
                    <button cButton class="me-2" (click)="showCustomerDetail(item.customer.id)">
                      <fa-icon [icon]="faMagnifyingGlass" inverse="true"></fa-icon>
                    </button>
                    <button cButton color="danger" (click)="deleteCustomer(item.customer.id)">
                      <fa-icon [icon]="faTrashCan" inverse="true"></fa-icon>
                    </button>
                  </c-col>
                </c-row>
              </c-card-header>
              <c-card-body>
                <c-row>
                  <c-col class="fw-bold">Geburtsdatum:</c-col>
                  <c-col>
                    {{item.customer.birthDate | date : 'dd.MM.yyyy'}}
                  </c-col>
                </c-row>
                <c-row>
                  <c-col class="fw-bold">Adresse:</c-col>
                  <c-col>
                    {{item.customer.address | formatAddress}}
                  </c-col>
                </c-row>
                <c-row>
                  <c-col class="fw-bold text-white"
                         [ngClass]="{'bg-success': isValid(item.customer), 'bg-danger': !isValid(item.customer)}">
                    Gültig bis:
                  </c-col>
                  <c-col class="text-white"
                         [ngClass]="{'bg-success': isValid(item.customer), 'bg-danger': !isValid(item.customer)}"
                         [innerHTML]="item.customer.validUntil | date : 'dd.MM.yyyy'">
                  </c-col>
                </c-row>
              </c-card-body>
            </c-card>
          </c-col>
          <c-col>
            <div class="d-flex flex-column gap-3">
              <c-card *ngFor="let similarCustomer of item.similarCustomers; trackBy: trackBySimilarCustomerId">
                <c-card-header class="fw-bold">
                  <c-row class="d-flex flex-column flex-sm-row">
                    <c-col>
                      {{similarCustomer.id + ' - ' + similarCustomer.lastname + ' ' + similarCustomer.firstname}}
                    </c-col>
                    <c-col class="text-end pt-2 pt-sm-0">
                      <button cButton color="success" class="me-2" (click)="mergeCustomers(similarCustomer)">
                        <fa-icon [icon]="faCheck" inverse="true"></fa-icon>
                      </button>
                      <button cButton class="me-2" (click)="showCustomerDetail(similarCustomer.id)">
                        <fa-icon [icon]="faMagnifyingGlass" inverse="true"></fa-icon>
                      </button>
                      <button cButton color="danger" class="text-white" (click)="deleteCustomer(similarCustomer.id)">
                        <fa-icon [icon]="faTrashCan" inverse="true"></fa-icon>
                      </button>
                    </c-col>
                  </c-row>
                </c-card-header>
                <c-card-body>
                  <c-row>
                    <c-col class="fw-bold">Geburtsdatum:</c-col>
                    <c-col>
                      {{similarCustomer.birthDate | date : 'dd.MM.yyyy'}}
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col class="fw-bold">Adresse:</c-col>
                    <c-col>
                      {{similarCustomer.address | formatAddress}}
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col class="fw-bold text-white"
                           [ngClass]="{'bg-success': isValid(similarCustomer), 'bg-danger': !isValid(similarCustomer)}">
                      Gültig bis:
                    </c-col>
                    <c-col class="text-white"
                           [ngClass]="{'bg-success': isValid(similarCustomer), 'bg-danger': !isValid(similarCustomer)}"
                           [innerHTML]="similarCustomer.validUntil | date : 'dd.MM.yyyy'">
                    </c-col>
                  </c-row>
                </c-card-body>
              </c-card>
            </div>
          </c-col>
        </c-row>
      </div>

      <tafel-pagination class="d-none d-sm-block mt-3" align="end" [paginationData]="paginationData"
                        (pageChanged)="getDuplicates($event)"></tafel-pagination>
      <tafel-pagination class="d-block d-sm-none mt-3" align="center" size="sm" [paginationData]="paginationData"
                        (pageChanged)="getDuplicates($event)"></tafel-pagination>
    </div>
  </c-card-body>
</c-card>
