<form>
  <c-row>
    <c-col md>
      <c-card>
        <c-card-header>
          <h5>Hauptbezieher</h5>
        </c-card-header>
        <c-card-body>
          <c-row class="mb-2">
            <c-col sm>
              <label class="form-label">Nachname *</label>
              <input testid="lastnameInput" type="text" [formField]="customerForm.lastname" class="form-control" tafelAutofocus
                     [ngClass]="{'is-invalid': shouldShowErrors(customerForm.lastname()), 'is-valid': customerForm.lastname().valid() && (customerForm.lastname().dirty() || customerForm.lastname().touched())}">
              @if (shouldShowErrors(customerForm.lastname())) {
                @for (errorMessage of getErrorMessages(customerForm.lastname()); track $index) {
                  <div class="invalid-feedback">{{errorMessage}}</div>
                }
              }
            </c-col>
            <c-col sm>
              <label class="form-label">Vorname *</label>
              <input testid="firstnameInput" type="text" [formField]="customerForm.firstname" class="form-control"
                     [ngClass]="{'is-invalid': shouldShowErrors(customerForm.firstname()), 'is-valid': customerForm.firstname().valid() && (customerForm.firstname().dirty() || customerForm.firstname().touched())}">
              @if (shouldShowErrors(customerForm.firstname())) {
                @for (errorMessage of getErrorMessages(customerForm.firstname()); track $index) {
                  <div class="invalid-feedback">{{errorMessage}}</div>
                }
              }
            </c-col>
          </c-row>
          <c-row class="mb-2">
            <c-col sm>
              <label class="form-label">Geburtsdatum *</label>
              <input testid="birthDateInput" type="date" [formField]="customerForm.birthDate" class="form-control"
                     [ngClass]="{'is-invalid': shouldShowErrors(customerForm.birthDate()), 'is-valid': customerForm.birthDate().valid() && (customerForm.birthDate().dirty() || customerForm.birthDate().touched())}">
              @if (shouldShowErrors(customerForm.birthDate())) {
                @for (errorMessage of getErrorMessages(customerForm.birthDate()); track $index) {
                  <div class="invalid-feedback">{{errorMessage}}</div>
                }
              }
            </c-col>
            <c-col sm>
              <label class="form-label">Geschlecht *</label>
              <c-input-group>
                <select testid="genderInput" (change)="onGenderChange($event)" class="form-control" cSelect
                        [ngClass]="{'is-invalid': shouldShowErrors(customerForm.gender()), 'is-valid': customerForm.gender().valid() && (customerForm.gender().dirty() || customerForm.gender().touched())}">
                  <option value="" [selected]="!customerForm.gender().value()">Bitte wählen...</option>
                  @for (genderOption of genders; track genderOption) {
                    <option [value]="genderOption" [selected]="genderOption === customerForm.gender().value()">
                      {{genderOption | genderLabel}}</option>
                  }
                </select>
                <span cInputGroupText>
                  <fa-icon [icon]="faVenusMars"></fa-icon>
                </span>
                @if (shouldShowErrors(customerForm.gender())) {
                  @for (errorMessage of getErrorMessages(customerForm.gender()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </c-input-group>
            </c-col>
          </c-row>
          <c-row class="mb-2">
            <c-col>
              <label class="form-label">Nationalität *</label>
              <c-input-group>
                <select testid="countryInput" (change)="onCountryChange($event)" class="form-control" cSelect
                        [ngClass]="{'is-invalid': shouldShowErrors(customerForm.country()), 'is-valid': customerForm.country().valid() && (customerForm.country().dirty() || customerForm.country().touched())}">
                  <option value="" [selected]="!customerForm.country().value()">Bitte wählen...</option>
                  @for (countryItem of countries(); track countryItem.id) {
                    <option [value]="countryItem.id" [selected]="countryItem.id === customerForm.country().value()?.id">
                      {{countryItem.name}}</option>
                  }
                </select>
                <span cInputGroupText>
                  <fa-icon [icon]="faFlag"></fa-icon>
                </span>
                @if (shouldShowErrors(customerForm.country())) {
                  @for (errorMessage of getErrorMessages(customerForm.country()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </c-input-group>
            </c-col>
          </c-row>
          <c-row class="mb-2">
            <c-col sm>
              <label class="form-label">Telefonnummer *</label>
              <c-input-group>
                <input testid="telephoneNumberInput" type="text" [formField]="customerForm.telephoneNumber"
                       class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.telephoneNumber()), 'is-valid': customerForm.telephoneNumber().valid() && (customerForm.telephoneNumber().dirty() || customerForm.telephoneNumber().touched())}">
                <span cInputGroupText>
                  <fa-icon [icon]="faPhone"></fa-icon>
                </span>
                @if (shouldShowErrors(customerForm.telephoneNumber())) {
                  @for (errorMessage of getErrorMessages(customerForm.telephoneNumber()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </c-input-group>
            </c-col>
            <c-col sm>
              <label class="form-label">E-Mail</label>
              <c-input-group>
                <input testid="emailInput" type="text" [formField]="customerForm.email" class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.email()), 'is-valid': customerForm.email().valid() && (customerForm.email().dirty() || customerForm.email().touched())}">
                <span cInputGroupText>
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
                @if (shouldShowErrors(customerForm.email())) {
                  @for (errorMessage of getErrorMessages(customerForm.email()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </c-input-group>
            </c-col>
          </c-row>
          <hr>
          <div>
            <c-row class="mb-2">
              <c-col sm>
                <label class="form-label">Straße *</label>
                <input testid="streetInput" type="text" [formField]="customerForm.address.street" class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.address.street()), 'is-valid': customerForm.address.street().valid() && (customerForm.address.street().dirty() || customerForm.address.street().touched())}">
                @if (shouldShowErrors(customerForm.address.street())) {
                  @for (errorMessage of getErrorMessages(customerForm.address.street()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </c-col>
            </c-row>
            <c-row class="mb-2">
              <c-col sm>
                <label class="form-label">Hausnummer *</label>
                <input testid="houseNumberInput" type="text" [formField]="customerForm.address.houseNumber"
                       class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.address.houseNumber()), 'is-valid': customerForm.address.houseNumber().valid() && (customerForm.address.houseNumber().dirty() || customerForm.address.houseNumber().touched())}">
                @if (shouldShowErrors(customerForm.address.houseNumber())) {
                  @for (errorMessage of getErrorMessages(customerForm.address.houseNumber()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </c-col>
              <c-col sm>
                <label class="form-label">Stiege</label>
                <input testid="stairwayInput" type="number" [formField]="customerForm.address.stairway"
                       class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.address.stairway()), 'is-valid': customerForm.address.stairway().valid() && (customerForm.address.stairway().dirty() || customerForm.address.stairway().touched())}">
              </c-col>
              <c-col sm>
                <label class="form-label">Top</label>
                <input testid="doorInput" type="number" [formField]="customerForm.address.door" class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.address.door()), 'is-valid': customerForm.address.door().valid() && (customerForm.address.door().dirty() || customerForm.address.door().touched())}">
              </c-col>
            </c-row>
            <c-row class="mb-2">
              <c-col sm>
                <label class="form-label">PLZ *</label>
                <c-input-group>
                  <input testid="postalCodeInput" type="number" [formField]="customerForm.address.postalCode"
                         class="form-control"
                         [ngClass]="{'is-invalid': shouldShowErrors(customerForm.address.postalCode()), 'is-valid': customerForm.address.postalCode().valid() && (customerForm.address.postalCode().dirty() || customerForm.address.postalCode().touched())}">
                  <span cInputGroupText>
                    <fa-icon [icon]="faLocationDot"></fa-icon>
                  </span>
                  @if (shouldShowErrors(customerForm.address.postalCode())) {
                    @for (errorMessage of getErrorMessages(customerForm.address.postalCode()); track $index) {
                      <div class="invalid-feedback">{{errorMessage}}</div>
                    }
                  }
                </c-input-group>
              </c-col>
              <c-col sm>
                <label class="form-label">Ort *</label>
                <c-input-group>
                  <input testid="cityInput" type="text" [formField]="customerForm.address.city" class="form-control"
                         [ngClass]="{'is-invalid': shouldShowErrors(customerForm.address.city()), 'is-valid': customerForm.address.city().valid() && (customerForm.address.city().dirty() || customerForm.address.city().touched())}">
                  <span cInputGroupText>
                    <fa-icon [icon]="faLocationDot"></fa-icon>
                  </span>
                  @if (shouldShowErrors(customerForm.address.city())) {
                    @for (errorMessage of getErrorMessages(customerForm.address.city()); track $index) {
                      <div class="invalid-feedback">{{errorMessage}}</div>
                    }
                  }
                </c-input-group>
              </c-col>
            </c-row>
          </div>
          <hr>
          <c-row class="mb-2">
            <c-col sm>
              <label class="form-label">Arbeitgeber *</label>
              <c-input-group>
                <input testid="employerInput" type="text" [formField]="customerForm.employer"
                       class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.employer()), 'is-valid': customerForm.employer().valid() && (customerForm.employer().dirty() || customerForm.employer().touched())}">
                <span cInputGroupText>
                  <fa-icon [icon]="faBuilding"></fa-icon>
                </span>
                @if (shouldShowErrors(customerForm.employer())) {
                  @for (errorMessage of getErrorMessages(customerForm.employer()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </c-input-group>
            </c-col>
          </c-row>
          <c-row class="mb-2">
            <c-col sm>
              <label class="form-label">Einkommen (monatl.)</label>
              <c-input-group>
                <input testid="incomeInput" type="number" [formField]="customerForm.income" class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.income()), 'is-valid': customerForm.income().valid() && (customerForm.income().dirty() || customerForm.income().touched())}">
                <span cInputGroupText>
                  <fa-icon [icon]="faEuroSign"></fa-icon>
                </span>
                @if (shouldShowErrors(customerForm.income())) {
                  @for (errorMessage of getErrorMessages(customerForm.income()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </c-input-group>
            </c-col>
            <c-col sm>
              <label class="form-label">nachgewiesen bis</label>
              <div class="input-group">
                <input testid="incomeDueInput" type="date" [formField]="customerForm.incomeDue" class="form-control"
                       [ngClass]="{'is-invalid': shouldShowErrors(customerForm.incomeDue()), 'is-valid': customerForm.incomeDue().valid() && (customerForm.incomeDue().dirty() || customerForm.incomeDue().touched())}">
                @if (shouldShowErrors(customerForm.incomeDue())) {
                  @for (errorMessage of getErrorMessages(customerForm.incomeDue()); track $index) {
                    <div class="invalid-feedback">{{errorMessage}}</div>
                  }
                }
              </div>
            </c-col>
          </c-row>
          <hr/>
          <c-row class="mb-2">
            <c-col sm>
              <label class="form-label">Gültig bis *</label>
              <input testid="validUntilInput" type="date" [formField]="customerForm.validUntil" class="form-control"
                     [ngClass]="{'is-invalid': shouldShowErrors(customerForm.validUntil()), 'is-valid': customerForm.validUntil().valid() && (customerForm.validUntil().dirty() || customerForm.validUntil().touched())}">
              @if (shouldShowErrors(customerForm.validUntil())) {
                @for (errorMessage of getErrorMessages(customerForm.validUntil()); track $index) {
                  <div class="invalid-feedback">{{errorMessage}}</div>
                }
              }
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
    <div class="col-md mt-3 mt-md-0">
      <c-card>
        <c-card-header>
          <c-row>
            <c-col>
              <h5>Weitere Personen</h5>
            </c-col>
            <c-col class="text-end">
              <button cButton color="success" class="text-white" (click)="addNewPerson()">Hinzufügen</button>
            </c-col>
          </c-row>
        </c-card-header>
        <c-card-body>
          @if (!customerForm.additionalPersons().value() || customerForm.additionalPersons().value()?.length === 0) {
            <div>
              <h6 testid="nopersons-label" class="mb-3">Keine Personen vorhanden</h6>
            </div>
          }
          @for (person of customerForm.additionalPersons().value(); track person.key; let i = $index) {
            <div class="mt-3">
            <c-col size="12" class="p-0">
              <c-card>
                <c-card-body>
                  <c-row [attr.testid]="'personform-' + i">
                    <c-col>
                      <c-row>
                        <c-col lg size="6">
                          <label class="form-label">Nachname *</label>
                          <input testid="lastnameInput" type="text" [formField]="customerForm.additionalPersons[i].lastname"
                                 class="form-control" tafelAutofocus
                                 [ngClass]="{'is-invalid': shouldShowErrors(customerForm.additionalPersons[i].lastname()), 'is-valid': customerForm.additionalPersons[i].lastname().valid() && (customerForm.additionalPersons[i].lastname().dirty() || customerForm.additionalPersons[i].lastname().touched())}">
                          @if (shouldShowErrors(customerForm.additionalPersons[i].lastname())) {
                            @for (errorMessage of getErrorMessages(customerForm.additionalPersons[i].lastname()); track $index) {
                              <div class="invalid-feedback">{{errorMessage}}</div>
                            }
                          }
                        </c-col>
                        <c-col lg size="6">
                          <label class="form-label">Vorname *</label>
                          <input testid="firstnameInput" type="text" [formField]="customerForm.additionalPersons[i].firstname"
                                 class="form-control"
                                 [ngClass]="{'is-invalid': shouldShowErrors(customerForm.additionalPersons[i].firstname()), 'is-valid': customerForm.additionalPersons[i].firstname().valid() && (customerForm.additionalPersons[i].firstname().dirty() || customerForm.additionalPersons[i].firstname().touched())}">
                          @if (shouldShowErrors(customerForm.additionalPersons[i].firstname())) {
                            @for (errorMessage of getErrorMessages(customerForm.additionalPersons[i].firstname()); track $index) {
                              <div class="invalid-feedback">{{errorMessage}}</div>
                            }
                          }
                        </c-col>
                      </c-row>
                      <c-row>
                        <c-col lg size="6">
                          <label class="form-label">Geburtsdatum *</label>
                          <input testid="birthDateInput" type="date" [formField]="customerForm.additionalPersons[i].birthDate"
                                 class="form-control"
                                 [ngClass]="{'is-invalid': shouldShowErrors(customerForm.additionalPersons[i].birthDate()), 'is-valid': customerForm.additionalPersons[i].birthDate().valid() && (customerForm.additionalPersons[i].birthDate().dirty() || customerForm.additionalPersons[i].birthDate().touched())}">
                          @if (shouldShowErrors(customerForm.additionalPersons[i].birthDate())) {
                            @for (errorMessage of getErrorMessages(customerForm.additionalPersons[i].birthDate()); track $index) {
                              <div class="invalid-feedback">{{errorMessage}}</div>
                            }
                          }
                        </c-col>
                        <c-col lg size="6">
                          <label class="form-label">Geschlecht *</label>
                          <c-input-group>
                            <select testid="genderInput"
                                    (change)="onPersonGenderChange(i, $event)"
                                    (blur)="onPersonGenderBlur(i)"
                                    cSelect class="form-control"
                                    [ngClass]="{'is-invalid': shouldShowErrors(customerForm.additionalPersons[i].gender()), 'is-valid': customerForm.additionalPersons[i].gender().valid() && (customerForm.additionalPersons[i].gender().dirty() || customerForm.additionalPersons[i].gender().touched())}">
                              <option value="" [selected]="!customerForm.additionalPersons[i].gender().value()">Bitte wählen...</option>
                              @for (genderOption of genders; track genderOption) {
                                <option [value]="genderOption" [selected]="genderOption === customerForm.additionalPersons[i].gender().value()">
                                  {{genderOption | genderLabel}}</option>
                              }
                            </select>
                            <span cInputGroupText>
                              <fa-icon [icon]="faVenusMars"></fa-icon>
                            </span>
                          </c-input-group>
                          @if (shouldShowErrors(customerForm.additionalPersons[i].gender())) {
                            @for (errorMessage of getErrorMessages(customerForm.additionalPersons[i].gender()); track $index) {
                              <div class="invalid-feedback">{{errorMessage}}</div>
                            }
                          }
                        </c-col>
                      </c-row>
                      <c-row>
                        <c-col>
                          <label class="form-label">Nationalität *</label>
                          <c-input-group>
                            <select testid="countryInput"
                                    (change)="onPersonCountryChange(i, $event)"
                                    (blur)="onPersonCountryBlur(i)"
                                    cSelect class="form-control"
                                    [ngClass]="{'is-invalid': shouldShowErrors(customerForm.additionalPersons[i].country()), 'is-valid': customerForm.additionalPersons[i].country().valid() && (customerForm.additionalPersons[i].country().dirty() || customerForm.additionalPersons[i].country().touched())}">
                              <option value="" [selected]="!customerForm.additionalPersons[i].country().value()">Bitte wählen...</option>
                              @for (countryItem of countries(); track countryItem.id) {
                                <option [value]="countryItem.id" [selected]="countryItem.id === customerForm.additionalPersons[i].country().value()?.id">
                                  {{countryItem.name}}</option>
                              }
                            </select>
                            <span cInputGroupText>
                              <fa-icon [icon]="faFlag"></fa-icon>
                            </span>
                          </c-input-group>
                          @if (shouldShowErrors(customerForm.additionalPersons[i].country())) {
                            @for (errorMessage of getErrorMessages(customerForm.additionalPersons[i].country()); track $index) {
                              <div class="invalid-feedback">{{errorMessage}}</div>
                            }
                          }
                        </c-col>
                      </c-row>
                      <c-row>
                        <c-col lg size="6">
                          <label class="form-label">Arbeitgeber</label>
                          <c-input-group>
                            <input testid="employerInput" type="text" [formField]="customerForm.additionalPersons[i].employer"
                                   class="form-control"
                                   [ngClass]="{'is-invalid': shouldShowErrors(customerForm.additionalPersons[i].employer()), 'is-valid': customerForm.additionalPersons[i].employer().valid() && (customerForm.additionalPersons[i].employer().dirty() || customerForm.additionalPersons[i].employer().touched())}">
                            <span cInputGroupText>
                              <fa-icon [icon]="faBuilding"></fa-icon>
                            </span>
                          </c-input-group>
                          @if (shouldShowErrors(customerForm.additionalPersons[i].employer())) {
                            @for (errorMessage of getErrorMessages(customerForm.additionalPersons[i].employer()); track $index) {
                              <div class="invalid-feedback">{{errorMessage}}</div>
                            }
                          }
                        </c-col>
                        <c-col lg size="6">
                          <label class="form-label">Einkommen (monatl.)</label>
                          <c-input-group>
                            <input testid="incomeInput" type="number" [formField]="customerForm.additionalPersons[i].income"
                                   class="form-control"
                                   [ngClass]="{'is-invalid': shouldShowErrors(customerForm.additionalPersons[i].income()), 'is-valid': customerForm.additionalPersons[i].income().valid() && (customerForm.additionalPersons[i].income().dirty() || customerForm.additionalPersons[i].income().touched())}">
                            <span cInputGroupText>
                              <fa-icon [icon]="faEuroSign"></fa-icon>
                            </span>
                          </c-input-group>
                          @if (shouldShowErrors(customerForm.additionalPersons[i].income())) {
                            @for (errorMessage of getErrorMessages(customerForm.additionalPersons[i].income()); track $index) {
                              <div class="invalid-feedback">{{errorMessage}}</div>
                            }
                          }
                        </c-col>
                      </c-row>
                      <c-row>
                        <c-col lg size="12">
                          <label class="form-label">nachgewiesen bis</label>
                          <div class="input-group">
                            <input testid="incomeDueInput" type="date" [formField]="customerForm.additionalPersons[i].incomeDue"
                                   class="form-control"
                                   [ngClass]="{'is-invalid': shouldShowErrors(customerForm.additionalPersons[i].incomeDue()), 'is-valid': customerForm.additionalPersons[i].incomeDue().valid() && (customerForm.additionalPersons[i].incomeDue().dirty() || customerForm.additionalPersons[i].incomeDue().touched())}">
                          </div>
                          @if (shouldShowErrors(customerForm.additionalPersons[i].incomeDue())) {
                            @for (errorMessage of getErrorMessages(customerForm.additionalPersons[i].incomeDue()); track $index) {
                              <div class="invalid-feedback">{{errorMessage}}</div>
                            }
                          }
                        </c-col>
                      </c-row>
                      <c-row class="mt-2">
                        <c-col lg size="6">
                          <label class="form-label">Bezieht Familienbeihilfe</label>
                          <div class="input-group">
                            <input testid="receivesFamilyBonusInput" type="checkbox"
                                   [formField]="customerForm.additionalPersons[i].receivesFamilyBonus"
                                   cFormCheckInput>
                          </div>
                        </c-col>
                        <c-col lg size="6">
                          <label class="form-label">Nicht im selben Haushalt (keine Berechnung)</label>
                          <div class="input-group">
                            <input testid="excludeFromHouseholdInput" type="checkbox"
                                   [formField]="customerForm.additionalPersons[i].excludeFromHousehold"
                                   cFormCheckInput>
                          </div>
                        </c-col>
                      </c-row>
                    </c-col>
                  </c-row>
                  <c-row>
                    <div class="col-lg-5 col-xxl-2 mt-3">
                      <button [attr.testid]="'remove-personform-' + i" cButton
                              color="danger" class="text-white"
                              (click)="removePerson(i)">Löschen
                      </button>
                    </div>
                  </c-row>
                </c-card-body>
              </c-card>
            </c-col>
            </div>
          }
        </c-card-body>
        <c-card-footer class="text-end">
          <button testid="addperson-button-bottom" cButton color="success" class="text-white" (click)="addNewPerson()">
            Hinzufügen
          </button>
        </c-card-footer>
      </c-card>
    </div>
  </c-row>
</form>
