name: Cleanup workflow runs

on:
  workflow_dispatch:
  schedule:
    - cron: '00 8 * * 1'

jobs:
  delete-workflow-runs:
    runs-on: ubuntu-latest
    name: Delete old workflow runs
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Delete workflow runs (keep last 2 weeks)
        uses: MajorScruffy/delete-old-workflow-runs@v0.3.0
        with:
          repository: wrk-tafel/admin
          older-than-seconds: 1209600
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
