name: Push on main branch

concurrency: release

on:
  workflow_dispatch:
  push:
    branches: [ 'release' ]

jobs:
  build:
    uses: ./.github/workflows/subflow_build.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  e2e-test:
    uses: ./.github/workflows/subflow_e2e_test.yml
    needs: build
  build-push-image:
    uses: ./.github/workflows/subflow_docker_image.yml
    needs: [build, e2e-test]
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
  deploy:
    uses: ./.github/workflows/subflow_deploy.yml
    needs: build-push-image
    secrets:
      sshKey: ${{ secrets.SSH_DEPLOY_KEY }}
      sshKnownHosts: ${{ secrets.SSH_KNOWN_HOSTS }}
      sshDeployCommand: ${{ secrets.SSH_DEPLOY_COMMAND }}
