name: Build and push the docker image

env:
  REGISTRY: ghcr.io

on:
  workflow_call:
    inputs:
      imageTag:
        type: string
        required: true
    secrets:
      githubToken:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: admin-jarfile
          path: ./artifact
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.githubToken }}
      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: _build/Dockerfile
          tags: "${{ env.REGISTRY }}/wrk-tafel/admin:${{ inputs.imageTag }}"
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
