name: Build and Analyze

env:
  JAVA_VERSION: '21'
  JAVA_DISTRIBUTION: 'corretto'

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read # allows SonarCloud to decorate PRs with analysis results
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: 'frontend/src/main/webapp/.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'frontend/src/main/webapp/package-lock.json'
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: 'maven'
      - name: Build and Test
        run: ./mvnw --fail-at-end clean install
      - name: Analyze
        run: ./mvnw -Dsonar.projectKey=wrk-tafel-admin -Dsonar.organization=wrk-tafel -Dsonar.token=${{ secrets.SONAR_TOKEN }} sonar:sonar
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: backend-custom-test-results
          path: ./backend/target/custom-test-results/
          if-no-files-found: ignore
          retention-days: 14
      - uses: actions/upload-artifact@v6
        with:
          name: admin-jarfile
          path: ./backend/target/admin-backend.jar
          if-no-files-found: error
          retention-days: 1
