name: E2E Test

env:
  JAVA_VERSION: '21'
  JAVA_DISTRIBUTION: 'corretto'

on:
  workflow_dispatch:
  workflow_call:

jobs:
  run:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.0-alpine3.14
        env:
          POSTGRES_USER: tafeladmin
          POSTGRES_PASSWORD: tafeladmin
          POSTGRES_DB: tafeladmin
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.3.0
        with:
          node-version-file: 'frontend/src/main/webapp/.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'frontend/src/main/webapp/package-lock.json'
      - name: Set up JDK
        uses: actions/setup-java@v4.7.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: 'maven'
      - uses: actions/download-artifact@v4
        with:
          name: admin-jarfile
          path: ./artifact
      - run: npm install
        working-directory: frontend/src/main/webapp
      - name: Run cypress
        run: |
          java -Dspring.profiles.active=e2e -jar ./artifact/admin-backend.jar &
          cd frontend/src/main/webapp
          npm run cy:run-ci
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-results
          path: |
            ./frontend/src/main/webapp/cypress/screenshots/
            ./frontend/src/main/webapp/cypress/videos/
          retention-days: 1
